[2017-04-03 23:04] alexsandro-xpt opened #1 "Infrastructure layer"
Is this https://github.com/dotnet/eShopOnWeb/tree/master/src/Web/Infrastructure won't be at in Infrastructure project?

[2017-04-04 00:28] eramella opened #2 "eBook is missing a verb"
Under "Apps and Single Page Apps (SPAs)" section, in "Summary", this sentence needs the verb "use":
"You should traditional web applications when:"  --> "You should **use** traditional web applications when:"

[2017-04-04 13:38] ardalis commented on #1
I don't understand your question, sorry.

[2017-04-04 13:44] #2 closed

[2017-04-04 13:45] ardalis commented on #2
Thanks!

[2017-04-04 15:39] CESARDELATORRE commented on #1
I think he's saying if you're going to move the Infrastructure folder within the Web app to the Infrastructure project.

________________________________
From: Steve Smith <notifications@github.com>
Sent: Tuesday, April 4, 2017 6:38:49 AM
To: dotnet/eShopOnWeb
Cc: Subscribed
Subject: Re: [dotnet/eShopOnWeb] Infrastructure layer (#1)

I don't understand your question, sorry.

—
You are receiving th

[2017-04-04 15:41] alexsandro-xpt commented on #1
Exactly @CESARDELATORRE it's probability should be move for Infrastructure project.

[2017-04-11 20:14] ardalis commented on #1
Yes, that's ultimately the plan. I started down that path but the current codebase doesn't really have enough functionality to merit it. Time permitting, I will expand the scope of the demo and you'll see that happen, hopefully in the very near future.

[2017-04-14 20:23] ardalis opened #3 "Don't Oversell Benefits of SPA Choice"
Email-based feedback recommends ensuring costs and risks of SPA choice are more explicitly laid out.

[2017-04-14 20:24] ardalis commented on #3
Tweaked chapter 3 and added this:
"Additionally, SPA frameworks require greater architectural and security expertise. They experience greater churn due to frequent updates and new frameworks than traditional web applications. Configuring automated build and deployment processes and utilizing deployment options like containers are more difficult with SPA applications than traditional web apps.

Imp

[2017-04-14 20:52] #3 closed

[2017-04-18 00:41] ardalis opened #4 "Update Logo"
Need to update logo so it doesn't refer to eShop OnContainers, but rather to OnWeb.

[2017-04-18 00:41] ardalis commented on #4
@CESARDELATORRE can you provide?

[2017-04-18 18:10] CESARDELATORRE commented on #4
Right.. Sending it by email, offline.

[2017-04-22 18:59] #4 closed

[2017-04-23 17:13] Ibrahim-Islam commented on #1
Why is it called "Infrastructure"? Shouldn't "DAL" or "Data" be more appropriate?

[2017-05-16 07:06] ggSui opened #11 "How to migrate a database"
More than one DbContext was found. Specify which one to use. Use the '-Context' parameter for PowerShell commands and the '--context' parameter for dotnet commands.
I dot't know

[2017-05-24 19:45] levalencia opened #12 "Visio Files used to generated PDF"
Is it possible to share the visio files used for the diagrams? so that we can reuse / modify them for other presentations?

[2017-05-26 15:29] levalencia opened #13 "Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1 ("
I have something weird after downloading, restoring and rebuilding I get this:

the weird thing is that even with the errors, it says build succeeded.

[2017-05-26 17:32] ardalis commented on #13
This is likely related to this issue: https://github.com/dotnet/corefx/issues/18452

I'm fixing now by removing some packages.

[2017-05-26 17:32] #13 closed

[2017-05-26 17:34] ardalis commented on #12
They were created using PowerPoint. Once the book is done I'll look at producing a PPT file with the images and sharing it in this repo.

[2017-05-26 17:34] #12 closed

[2017-05-30 16:23] jacwu opened #15 "http://localhost:5106/Account/Login 404 Not Found"
Type user name and password to login while 404 not found. Looks like the HttpPost action SignIn is expected to be Login

[2017-06-02 17:33] shinjiDev opened #16 "IBasketService and IIdentityParser missing"
Hi,
Maybe I didn't understand the model, but I can't find the implementation of these interfaces. Is it an error?

[2017-06-20 15:16] ardalis commented on #11
These two commands from the Web folder should produce the migrations for the catalog:

[code]

The authentication migrations are not yet in the project. Once they are, you would change the context name to the fully qualified name of the AppIdentityDbContext class.

[2017-06-20 15:16] #11 closed

[2017-07-21 11:03] chriswoodward commented on #1
Further to this, what I don't understand is if the eShopOnWeb application is meant to support the "Architecting and Developing Modern Web Applications with ASP.NET Core and Azure" eBook (as claimed) then why is the EntityFramework CatalogContext class located in the Web UI Project ?

[2017-07-21 14:44] ardalis commented on #1
It's incomplete as yet. The goal is to mimic (some of) the functionality of the eShopOnContainers sample. I'm actively working on it.

[2017-07-27 02:40] joejarvis64 opened #20 "Unable to resolve service for type 'ApplicationCore.Interfaces.IBasketService' while attempting to activate"
This app must not be complete?  I just cloned and ran to find that this interface is not implemented so the app crashes right off the bat.

[2017-07-27 02:52] ardalis commented on #20
It is in progress, correct. The main page works and auth and basket functionality are in flight.

[2017-07-28 15:04] opty-net opened #22 "Unit tests do not compile"
Missing `GetImage()` action from `CatalogController`.

[2017-07-28 16:57] ardalis commented on #22
Weird. Last PR should have fixed that. I will check it out tonight but those tests are to be removed as that method is not needed.

[2017-07-28 19:34] isabasan commented on #22
It's really bad to see some compilation errors in a guideline project :(

[2017-07-29 03:40] ardalis commented on #22
Fixed by #23

[2017-07-29 03:40] #22 closed

[2017-07-29 03:41] ardalis commented on #20
Fixed by #21

[2017-07-29 03:41] #20 closed

[2017-07-29 03:42] ardalis commented on #16
Fixed by #21
Application is still alpha and will undergo some more updates in the near term before it's marked as complete.

[2017-07-29 03:42] #16 closed

[2017-07-29 03:42] ardalis commented on #15
Fixed, thanks!

[2017-07-29 03:42] #15 closed

[2017-07-29 04:32] shinjiDev commented on #16
Nice @ardalis . Thank you.

[2017-08-06 10:31] arvand opened #25 "Database Context in Presentation Layer, Why?"
Can somebody say why is the CatalogContext defined in the Web project?
This is related to the Data Access Layer and I don't see why in a sample application it is in Presentation Layer.

[2017-08-06 16:03] ardalis commented on #25
It's a holdover from the original starting point of the project. You're correct it will be in a separate project once the sample is released (which should be very soon). I'll leave this issue open to track this change (moving the dbcontext).

[2017-08-06 19:50] arvand commented on #25
Do accept a pull request in which I implement the repository pattern with unit of work by using dapper and its extensions?
I am suggesting to use dapper because entity framework tends to get really slow in most scenarios and it is better to a have sample by using dapper which is practical.

[2017-08-07 19:27] ardalis commented on #1
Closing this since the Infrastructure folder in the Web project has been removed and all of its contents now reside in the Infrastructure project.

[2017-08-07 19:27] #1 closed

[2017-08-07 19:30] ardalis commented on #25
@arvand I'm not opposed to Dapper but in this case EF is pretty much fully implemented and should work fine. I would be happy to accept a PR that showed how easy it is to use Dapper instead of EF as the repository implementation. To do this you should basically just be able to add a new generic repository that  implements IRepository<T> (just like EfRepository). Alternately, since creating a gener

[2017-08-07 19:30] #25 closed

[2017-08-07 19:40] CESARDELATORRE commented on #25
I agree with Steve. We'll be willing to accept additional features/possibilities being added in a decoupled way (Open/Close Principle) in SOLID, but not removing EF Core.
Also, EF Core is a lot faster than regular EF, so I don't think we should forget about it.
In eShopOnContainers, like in the Ordering microservice, we're using Dapper for the Queries and EF Core for the DDD transactions. However,

[2017-08-07 20:59] ardalis opened #33 "Wiki Images"
Apparently the simplest way to add images to a wiki (without bloating the code repo itself) is to attach them to issues and reference them by URL in the wiki...

![image](https://user-images.githubusercontent.com/782127/29045504-c8f96ab4-7b91-11e7-9679-34c49f5815d1.png)

![image](https://user-images.githubusercontent.com/782127/29045678-6487bd6e-7b92-11e7-92a7-38677683aae8.png)

![image](https://u

[2017-08-08 08:05] arvand commented on #25
@ardalis I am not saying that EF doesn't work. It's just that as soon as the project grows you are hit with performance issues, especially for read queries. I think this is why  projects like StackOverflow and Orchad have moved to using Dapper.  (There's even a discussion on [Nopcommerce ](https://github.com/nopSolutions/nopCommerce/issues/239)to move the ORM to Dapper)

It may be hard to create a

[2017-08-08 21:58] CESARDELATORRE commented on #25
@arvand What you say might be true for regular EF in .NET Framework. But EF Core was re-written from scratch and one of the main goals was to drastically improve performance and have a much lighter ORM than EF.
I was told by the EF Core team about that. I'll ask them about comparisons.

What you say "It's just that as soon as the project grows you are hit with performance issues with EF, especiall

[2017-08-09 00:37] #33 closed

[2017-08-09 06:47] arvand commented on #25
@CESARDELATORRE I found these two links: [1](https://frankdecaire.blogspot.co.uk/2016/09/entity-framework-core-10-smackdown.html) , [2](https://github.com/aspnet/EntityFramework/issues/7978)
I don't see much difference.

[2017-08-09 16:16] CESARDELATORRE commented on #25
I don't think those are very reliable posts. One is about EF Core 1, released one year ago. The second couldn't repro again if you read until the end of the post.
I'm asking the EF team and will come back, ok?

[2017-08-09 20:03] yarrgh commented on #25
This may be more relevant: [Entity Framework Core 2.0 vs. Dapper performance benchmark, querying SQL Azure tables](https://koukia.ca/entity-framework-core-2-0-vs-dapper-net-performance-benchmark-querying-sql-azure-tables-7696e8e3ed28).

Outcome: Dapper barely wins, performance wise. If you added FastCrud, EntityFramework may actually perform better.

It does, however, compare EF 2.0 instead of EF

[2017-08-09 21:03] CESARDELATORRE commented on #25
We're actually migrating eShopOnContainers to .NET Core 2. After August/September, the maintened branch will only be the .NET Core 2 version of eShopOfContainers.
So, EF Core 2 benchmarks apply to our roadmap. :)

[2017-08-09 21:06] CESARDELATORRE commented on #25
And in any case, we're also using Dapper for the simplified  CQRS at eShopOnContainers within the Ordering container.
Btw, I forgot to mention that, of course, we'll be migrating eShopOnWeb to .NET Core 2 during Aug. and Sept. Not just eShopOnContainers. :)

[2017-08-15 11:45] ghd258 opened #36 "Upgrade to .netstandard 2.0, asp.net core 2.0 and entity framework core 2.0"
Upgrade to .netstandard 2.0, asp.net core 2.0 and entity framework core 2.0

[2017-08-15 12:15] ardalis commented on #33
![3-1](https://user-images.githubusercontent.com/782127/29315440-4e3aa5c6-8191-11e7-9990-cbe50618929d.png)
![3-2](https://user-images.githubusercontent.com/782127/29315441-4e3b65ba-8191-11e7-8a56-910b858d3311.png)
![3-3](https://user-images.githubusercontent.com/782127/29315442-4e3b9184-8191-11e7-9f27-1763ee176c82.png)
![3-4](https://user-images.githubusercontent.com/782127/29315443-4e3b8acc-8191-

[2017-08-15 12:19] ardalis commented on #33
![4-1](https://user-images.githubusercontent.com/782127/29315578-e5374ab0-8191-11e7-86e2-ef7526658582.png)
![4-2](https://user-images.githubusercontent.com/782127/29315582-e53c48f8-8191-11e7-9742-ed4d51dbc439.png)
![4-3](https://user-images.githubusercontent.com/782127/29315581-e538f8a6-8191-11e7-91b2-fc51098f20e3.png)
![4-4](https://user-images.githubusercontent.com/782127/29315580-e538eb90-8191-

[2017-08-15 15:20] dkurok opened #37 "ID-properties are of type int - not always good for existing DB"
In ApplicationCore/Entities/BaseEntity.cs you define that the ID-property of an entity is always of type `int ` and always named "Id". I've got a lot of older apps where the ID-property (PK-column in DB) is of different type like string or GUID and has a different name (often Entity+"_ID", but also some complete other naming schemes).
You use the same assumption about the type of ID-property onwar

[2017-08-16 12:04] J0nKn1ght opened #39 "Clean Architecture with Identity"
Hi,
We're starting a major new web project, and wanted to start developing in .Net Core, rather than the MVC5 that we're used to.
I've read through some of the Architecture guide, and was interested in moving to using the Clean Architecture approach.  I was hoping that this sample application would indicate how this could be used in an ASP.Net Core web application, but it seems to duck some of the

[2017-08-17 13:30] dag23 opened #40 "Nested includes in ISpecification"
Hi, I have been looking at ISpecification<T> and the way the includes are added. Could something similiar be implemented for nested includes, that later are translated to ThenInclude in IQueryable?

[2017-08-17 16:00] yarrgh commented on #40
I was wondering the same the thing. I had to change the specifications to use strings instead of expressions to do nested includes. Not entirely ideal because refactoring can easily break the includes.

_Sent from my Google Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 07:35] arvand commented on #25
That is great news, tnx for the news.

[2017-08-22 17:25] ardalis commented on #40
I'm not sure if there's a supported way to do this (hence why it's not implemented yet). I'm open to suggestions, though. This is somewhat related (TL;DR: you only need ThenInclude for collection navigation properties):
https://github.com/aspnet/EntityFrameworkCore/issues/4716

[2017-08-22 19:23] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/29583370-e561e0ce-874d-11e7-86ec-c4f4057eb2d2.png)

[2017-08-30 01:28] yarrgh commented on #39
Unless you really needed to have the navigation properties, you could keep the ApplicationUser separate and don't have navigation properties. You'd store the userId with the Orders (and anywhere else that you need) and if you had the userId already, you could just query the Orders where the userIds are equal.

[2017-08-30 08:09] J0nKn1ght commented on #39
Ok, maybe my example was a bit simplistic.  In real life, you would want to be able to do a query such as 'select all Orders where Order.OrderDate < x and Order.User.LastName.Contains(y)'.  Not having navigation properties precludes this being a database query.
I did try to take this approach, and keep ApplicationUser in the Infrastructure, and have a UserProfile model in Core, which shared the sa

[2017-09-01 13:16] ardalis commented on #40
Related: https://github.com/aspnet/EntityFrameworkCore/issues/9523

[2017-09-05 12:57] domainmurat opened #46 "Unit Of Work"
Why did not you use UOW in this project ?

[2017-09-05 14:18] ardalis commented on #46
There was no need in the v1 sample. There may be more complexity that would warrant it in the v2 sample. Is there a specific instance in the sample where you would want to see it, or are you just looking for guidance on how to implement the pattern?

[2017-09-06 07:20] domainmurat commented on #46
Yes, How Can I implement uow design pattern in eShopOnWeb. Whats the best way for implement without compromising the project structureç

[2017-09-20 22:09] yehia2amer opened #48 "[Feature] Adding eShopOnSPA (Angular) Example"
First of all thanks a lot for this great and very useful repo 💯

It will be Great to Add an eShopOnSPA (Angular) Example to this Repo without all the complications of microservices and containers in [here](https://github.com/dotnet-architecture/eShopOnContainers/tree/dev/src/Web/WebSPA)

[2017-09-20 23:05] CESARDELATORRE commented on #48
Thanks for your feedback!
This repo focuses on microservices/containers as the main feature.
I think that feature would be a better fit for eShopOnWeb which currently focuses on plain ASP.NET Core MVC and Razor in vNext, here:
[https://github.com/dotnet-architecture/eShopOnWeb ](https://github.com/dotnet-architecture/eShopOnWeb )

Please, submit that feature request into that repo (https://github.

[2017-09-23 13:21] jurajvt opened #51 "Referencing ApplicationCore from Infrastructure and Web problem"
Where is the problem with referencing ApplicationCore project from Infrastructure or Web project?

Cloned this repository, or tried new, scratch solution. When referencing .NET Standard 2.0 class library from .NET Core 2.0 project, problem with compiling or IntelliSense appears (Cannot resolve symbol 'ApplicationCore').

Am I only one with this problem?

Visual Studio CE 2017 v15.3.5

[2017-09-25 16:45] jurajvt commented on #51
Problem lies in ReSharper. Updated to new versions and runs fine.

[2017-09-25 16:45] #51 closed

[2017-09-25 17:44] ardalis commented on #51
Great, glad you got it sorted out.

[2017-09-26 12:22] ardalis commented on #40
For now this is implemented using string-based includes, to maximize flexibility. The downside is, they're magic strings and could become out of sync with entity renames.

Example usage:

[code]

[2017-09-26 12:22] #40 closed

[2017-09-26 19:06] rageshvr opened #52 "Using Infrastructure.Logging in Application Core"
Implementation of Logging is part of the Infrastructure.  Application Core will have it's own service implementation, for instance in this project it is UriComposer.  There will be logging required in ApplicationCore, since it is not just the domain entities. How do I make use of Logger in ApplicationCore?  Shouldn't this Logger be shared independent project out of infra and core?

[2017-09-26 19:48] yarrgh commented on #52
I don't see an issues with how it is implemented. All ApplicationCore, Web, and even Infrastructure needs to know about is IAppLogger. If you need to log in ApplicationCore, you'd inject IAppLogger into your classes. They shouldn't know or care how it is implemented in Infrastructure.

[2017-09-26 20:01] ardalis commented on #52
Correct, what @yarrgh said.

[2017-09-26 20:04] rageshvr commented on #52
So, is it OK to have a Run time dependency to ApplicationCore from Infrastructure?

[2017-09-26 20:05] ardalis commented on #52
Yes, certainly. This follows the Dependency Inversion Principle. Concrete implementations (in Infrastructure) should depend on abstractions (interfaces in ApplicationCore), not vice versa.

[2017-09-26 20:09] rageshvr commented on #52
Infrastructure has a compile time dependency of Application Core, and Application Core has a run time dependency of Infrastructure.  Runtime dependency is mentioned in the ebook, but Application Core seems to be isolated from Web App and Infrastructure dependencies.

[2017-09-26 20:31] yarrgh commented on #52
Web depends on ApplicationCore and Infrastructure as a compile time and runtime dependency. Startup in Web sets up dependency injection using the interfaces in ApplicationCore and the implementation in Infrastructure. All three projects depend on each other in some way. The whole idea is to make the dependencies as loose and flexible as possible.

[2017-09-26 20:31] ardalis commented on #52
Exactly.

This is by design. The fewer dependencies the ApplicationCore project has, the easier it is to test.

If you didn't have any runtime dependency, that would imply that the *only* thing in ApplicationCore was abstractions (e.g. interfaces, abstract base classes). There would be 0 lines of actual executable code. Thus, nothing to test. You need to have your business/domain logic live somewh

[2017-09-26 20:33] ardalis commented on #52
The eBook has some references for more reading on Onion Architecture, Clean Architecture. You might benefit from reading those. If you have Pluralsight, I suggest checking out my courses on N-Tier C# apps, Domain-Driven Design Fundamentals, and SOLID Principles of OOP. I can send you a 30-day free pass if you need one. HTH.

[2017-09-26 20:45] rageshvr commented on #52
Thanks Steve.  I do have a Pluralsight subscription, I will checkout those courses.  I am keen on DDD and Clean architecture, was trying to construct something that abide by the Clean DDD Architecture.

@yarrgh Exactly, core principle is to make the dependencies loose and flexible.

[2017-09-29 01:32] wyshmily opened #53 "[question]What is the supposed way to implement pagination and sorting in this repository and specification design?"
I am a bit confused.
Should I use it like this: List(spec).OrderBy().Skip().take()，and in this case the list(spec) fuction in fact return s IQueryable, is it?

Or should I extend the IRespository and IAsyncRespository with interfaces like ListPage(ISpecification specification, int page, int mumber)，and ListPageAsync(ISpecification, int page, int number)

[2017-09-29 02:03] ardalis commented on #53
Currently the app does this here, for the catalog paging:
https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Services/CatalogService.cs#L36

This implementation loads the full list into memory, then pages it. This is fine for the current site for two reasons:
1) There are very few total items.
2) The call to GetCatalogItems is cached by CachedCatalogService, so the full collecti

[2017-09-29 05:59] wyshmily commented on #53
@ardalis Thanks a lot !

[2017-09-29 06:05] wyshmily commented on #53
@ardalis
What about sorting? Pagination is always depending on sorting.
Is there a way to put EF operations  OrderBy().ThenBy() into our ISpecification ?

[2017-09-30 03:25] wyshmily commented on #37
I think this repo is just for demostration, you can write your generic version of EntityBase.
About the name of key field, it can be mapped using ColumnAttribute, so that's not an issue.

Mine looks like this:

[code]

[2017-09-30 12:54] JeffXieXiwei opened #54 "Question for form submit"
In Views/Catalog/Index.cshtml, there is no submit in following form. How does it work?

        <form asp-action="Index" asp-controller="Catalog" method="post">
            <label class="esh-catalog-label" data-title="brand">
                <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="esh-catalog-filter"></select>
            </label>
            <label class="esh-

[2017-10-02 20:13] ogix commented on #52
Do I understand correctly that if I have EmailSender, PushNotificationSender and UriComposer then EmailSender and PushNotificationSender should be in Infrastructure project (since they depend on 3rd party libs) and UriComposer should be in ApplicationCore (does not depend on libs)? Or is it because EmailSender and PushNotificationSender communicate with external services?

[2017-10-03 13:58] ardalis commented on #52
The rules I follow when using Clean DDD Architecture (as this sample does) are:
1) Minimize dependencies in ApplicationCore; do not depend on anything that depends on infrastructure. So, no references to EF or SendGrid or any other packages that are about out-of-process communication. This keeps ApplicationCore easy to test and easy to depend on without tying the app to a particular infrastructure

[2017-10-03 20:14] ogix commented on #52
It is clear now. Thanks Steve!

[2017-10-21 11:12] Ka-Marius opened #59 "BasketService is in Web project and OrderService in Infrastructure project. Why not in Core Project?"
BasketService and OrderService has some Business logic, but these services are not in Core Project (one is in Web, another in Infrastructure project). I can't understand why. Can You please explain me?

Many thanks.

![image](https://user-images.githubusercontent.com/24824595/31851196-8379a996-b669-11e7-917f-3288da3aeb38.png)

[2017-10-21 16:29] yarrgh commented on #59
The services in Web depend on the ViewModels in Web, which is why they are in Web.

My opinion is that something like AutoMapper should be used in the controllers to convert to ViewModels and the services shouldn't produce ViewModels or even interact with ViewModels. If this was the case, they could probably be moved to ApplicationCore (unless I missed another dependency on Web)

OrderService in I

[2017-10-21 17:40] ardalis commented on #59
I agree with yarrgh; it's on my list to refactor. The reason they are there now is due to inherited code and the fact they return view-optimized data types. But it's a good question and one I plan to address shortly.

[2017-10-23 19:16] ardalis commented on #59
FYI, in the most recent updates to the sample, the non-UI work that was in the `BasketService` was moved into a service defined in `ApplicationCore`. The `CatalogService` is pretty much all about UI, and the `CachedCatalogService` works closely with it, so I've left these in the UI project(s).

I don't have AutoMapper installed in the solution at this time, but I could see adding it. If someone wa

[2017-10-23 19:16] #59 closed

[2017-10-23 19:16] #52 closed

[2017-10-24 16:52] DannyAllegrezza opened #67 "Can't create SQL Server databases"
Hi team,

First off, thank you for creating this sample project! I've successfully run the project using the in memory db with no issues. I followed the instructions on the README and attempted to run the migrations to create the initial Catalog and Identity databases.

I've got .NET Core 2 SDK installed on my Windows 10 machine. I have SQL Server 2014 installed as well.

1. Modified Program.cs as

[2017-10-24 16:55] ardalis commented on #54
The `<input type="image">` button is the submit button, in this case. There's some additional CSS that helps the experience (color change and pointer change on hover, for instance).

See: https://stackoverflow.com/questions/7935456/input-type-image-submit-form-value

[2017-10-24 16:55] #54 closed

[2017-10-24 17:03] ardalis commented on #67
It looks like it can't connect to the named db server at all. Make sure you have the appropriately named instance of LocalDB on your machine. In my case, I have several:

![image](https://user-images.githubusercontent.com/782127/31957113-a412d638-b8bb-11e7-84b2-bafe215ec514.png)

You should be able to pick anything, as long as you have it installed. Can you confirm you have one called (localdb)/Pr

[2017-10-24 17:25] ardalis commented on #37
Correct (wyshmily). I added a note to the BaseEntity class stating that one could easily use a BaseEntity<T> if desired.

[2017-10-24 17:25] #37 closed

[2017-10-24 17:25] ardalis commented on #36
Done as of https://github.com/dotnet-architecture/eShopOnWeb/commit/8de663eab6d7edfad4168902621fe4a600459f9a

[2017-10-24 17:25] #36 closed

[2017-10-24 17:35] yarrgh commented on #67
You mention that you have SQL Server 2014 installed, but, do you have SQL Server Express installed as well? I believe localdb uses SQL Server Express, usually installed with Visual Studio. You can point the connection strings to your existing SQL Server but you'd have to create the databases on the server first.

[2017-10-24 18:29] DannyAllegrezza commented on #67
@ardalis @yarrgh thanks for the quick response!

![explorer](https://user-images.githubusercontent.com/7738918/31959910-0f9a14fe-b8c4-11e7-80af-c24eb654838a.JPG)

I have SQL Server Express 2016 installed as well as SSMS 2014. I have been using localdb for my other projects. I've tried modifying my connection strings multiple times, testing out different servers and databases, including `(localdb)\

[2017-10-24 20:19] DannyAllegrezza commented on #67
Closing this issue.

So I'm not really sure which fixed the problem, but I took these steps:

* Delete the existing migrations, see if I could recreate them.
At first, this did *not* work. I received the following error:
[code]

Googling the error led me to this [StackOverflow ](https://stackoverflow.com/questions/45782446/unable-to-create-migrations-after-upgrading-to-asp-net-core-2-0#comment7853

[2017-10-24 20:19] #67 closed

[2017-10-24 20:49] ardalis commented on #67
Are you running on the latest version of the master branch? The seed data thing is a known EF Core 2.0 breaking change that was fixed in the latest version of the sample. The seed data is now done in Program.cs:

https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Program.cs#L18-L36

If you were still seeing it in Startup.cs I think you were on an older version.

[2017-10-24 21:29] DannyAllegrezza commented on #67
Oh man, I was behind by like 17 commits. Glad to know about the seed data thing. I appreciate all of the help @ardalis 👍

btw: I've really enjoyed all of your PluralSight courses. Great stuff!

[2017-11-10 18:39] DannyAllegrezza commented on #39
@J0nKn1ght,

Any updates  here? Are you continuing to keep the ApplicationUser in Core?

I'm curious because I was about to write a post asking the same question as you. I was curious if @ardalis could expand on how we might keep a clean architecture yet still have identity.

I'm wondering if the `IdentityGuid` in buyer class is a hint at how one might accomplish this?

[code]

Unless I am missing

[2017-11-13 09:07] J0nKn1ght commented on #39
@DannyAllegrezza No, I'm afraid that I haven't seen anything yet which suggests a solution to this problem.  In fact it's got worse, in that I've also ended up adding a reference to Microsoft.AspNetCore.Mvc.Core in my Core project, so that I can use the ModelMetadataType attribute in order to override the default display names for the 'Email' and 'PhoneNumber' properties in the IdentityUser class.

[2017-11-13 18:51] ardalis commented on #39
@DannyAllegrezza The Buyer entity's IdentityGuid is how the domain interacts with the identity system in this sample. It's intentionally separating identity concerns from domain concerns. You can see where this is used in the BasketWithItemsSpecification class, which will list the items in the Buyer's basket (or an anonymous user's basket). It's also used in the CustomerOrdersWithItemsSpecificatio

[2017-11-13 18:55] ardalis commented on #39
My recommendation if you're going to use the built-in identity features that rely on IdentityUser is to keep your definition of ApplicationUser in the Infrastructure class. In your domain, refer to this class's ID anywhere you need it, just as Buyer does. If you need to include additional details on the 'user' you can do so on a domain entity in ApplicationCore. For example, I could easily add Fir

[2017-11-14 09:31] J0nKn1ght commented on #39
@ardalis Thanks.  I did go down that route, but as I mentioned in my previous post, the first thing that I needed to do on the site I was developing was to add a User Admin function, which needed to be able to query users by Role, and that approach made it impossible to do that without the query running in memory.  I guess the only option really is to write my own Identity provider, which I don't

[2017-11-14 13:41] ardalis commented on #39
Right, sorry I didn't address that. If you're following a DDD approach, you could probably consider your user/role administration as a separate bounded context from the rest of your application (I'm guessing - I don't know the details of your app's primary focus). It also seems likely to me that the user admin portion of the app, whether it's its own BC or not, is mainly CRUD and doesn't have a to

[2017-11-14 14:02] J0nKn1ght commented on #39
Thanks for your detailed reply, @ardalis.  The app we're developing is a bespoke CMS, so the vast majority of it is focused on the admin site, with very little on the site itself.
TBH, I'm wishing that we hadn't switched to .Net Core, as once you start to do any heavy development in it, the cracks begin to show (in terms of bugs and missing features).  This isn't helped by the fact that VS2017 als

[2017-11-14 14:22] yarrgh commented on #39
The way identity and the entities are separated in this project is very good practise. In most systems in enterprise applications users and application data are completely separate in different databases if not completely different systems altogether. Normally you'd do your specific filtering logic by querying the user system/database and then take the results and join them against your applicatio

[2017-11-14 14:52] ardalis commented on #39
You're welcome and sorry you're hitting frustrations. Let me know (via my ardalis.com site) if you think it would be valuable at all for me to have a look at your app and its setup. I may be able to help. I agree with you that 1.x of .NET Core and EF and the early VS2017 builds were a bit rough, but right now with 2.x of .NET Core and the latest VS2017 I think things are in solid shape and there a

[2017-11-14 14:52] #39 closed

[2017-11-14 23:45] CESARDELATORRE opened #70 "Images for Wiki"

[2017-11-14 23:45] #70 closed

[2017-11-14 23:47] CESARDELATORRE commented on #70
![image](https://user-images.githubusercontent.com/1712635/32811156-1e40a2bc-c953-11e7-9fde-c60f7bce398d.png)

[2017-11-14 23:54] CESARDELATORRE commented on #70
![image](https://user-images.githubusercontent.com/1712635/32811359-0c8b9ab2-c954-11e7-8bce-71b36af4b4fe.png)

[2017-11-15 00:12] CESARDELATORRE commented on #70
![image](https://user-images.githubusercontent.com/1712635/32811823-9245f772-c956-11e7-9b87-bbeaa4154bb9.png)

[2017-11-15 00:13] CESARDELATORRE commented on #70
![image](https://user-images.githubusercontent.com/1712635/32811855-baf12976-c956-11e7-98a3-568e4dd14a6d.png)

[2017-11-20 01:17] wyshmily opened #71 "Question about the repository and specification design"
The repository and specification design looks good, but when I use it in my work, I found it hard to handle when the logic is a little more complicate.
For example, when my api accepts a new Student object For create, I have to check if the student'scardnumber already exists, do i define a specification to do this check? It's annoying to do a lot of such works.

[2017-11-20 01:19] wyshmily commented on #71
And I don't think such specifications are needed by the applicationcore.

Want some guide, thanks!

[2017-11-20 01:25] ardalis commented on #71
Specification is meant to encapsulate complex queries. If you just want to know if a record exists, you can do a `GetById()` and see that it returns null - no Spec needed.

[2017-11-20 06:28] wyshmily commented on #71
but in my case, the query is not by id, but other field like studentnumber

[2017-11-20 15:00] ardalis commented on #71
In that case if you're already using specs in your design, it would be easy to create a spec for StudentByStudentNumber(int studentNumber) that would include the required lambda expression to fetch student(s) with that number.

Alternately unless you expect it to be a regular occurrence for student creation to result in potential duplicates, you could just attempt the create and catch the exceptio

[2017-11-20 15:14] Anton987 opened #73 "Question about loading related data in repository"
Hello,

How can i use multiple include statements inside a repository?
Why isn't my code below working?
`
var result = _dbContext.Object
.Include(ans => ans.ObjectOther)
.Include(ans => ans.ObjectOther.Select(o => o.ObjectOtherDetail))
.SingleOrDefault(a => a.Id == id);
`
Regards

[2017-11-20 15:34] ardalis commented on #73
You can use multiple includes, but I don't think you can put a .Select inside of it. This GitHub sample isn't for general Q&A, though. You're probably better off posting a question like this to StackOverflow.

[2017-11-20 15:34] #73 closed

[2017-11-22 01:09] wyshmily commented on #71
In fact it would not cause an exception, because I use soft delete, with a IsDeleted field in each table.
Such checks can only be performed manually since there is no unique index.
So the answer is creating specs to do the job?

[2017-11-22 14:17] ardalis commented on #71
If you're already set up to use Specifications (that is, your Repository can accept an `ISpecification<T>` or similar) then yes, a spec would do the job easily. If you're not using the Specification pattern or don't want to use it for this case, the simplest approach would be to create a method on your interface (example: `IStudentRepository` has method `GetStudentByStudentNumber(int number)` ). T

[2017-11-22 14:17] #71 closed

[2017-12-20 09:40] ModernRonin commented on #40
I know this has been closed, I just wanted to add you can get around the refactoring issue with magical strings by doing something like this:

` $"{nameof(PriceList.Revisions)}.{nameof(PriceListRevision.VehicleClassPrices)}.{nameof(VehicleClassPricing.Product)}",`

That's what I do. Anyway, even so, an expression based solution would be nicer, ofc.

[2018-01-04 04:26] hanslai commented on #40
@ModernRonin I cannot quite follow with your example, can you use @ardalis 's example  with
`OrderItems.ItemOrdered` and give an example using nameof()  Thanks

[2018-01-04 05:57] hanslai commented on #40
@ardalis have you find any other alternative approach to avoid using"magic string" with Specification pattern.  Thanks

[2018-01-04 15:58] ardalis commented on #40
I like the `nameof` solution. I've just added it via the PR noted above.

[2018-01-04 16:20] ardalis commented on #53
This looks like it would do what you want: https://stackoverflow.com/a/25244226/13729. You're welcome to add a PR with the functionality if you get it working. (sorry for the late response).

[2018-01-04 16:20] #53 closed

[2018-01-04 23:52] hanslai commented on #40
Thanks.

[2018-01-14 21:43] aownshah opened #76 "BaseSpecification Code Improvement"
The public constructor makes no sense in an abstract class BaseSpecification.

public abstract class BaseSpecification<T> : ISpecification<T>
{
    public BaseSpecification(Expression<Func<T, bool>> criteria)
......
}

As the BaseSpecification can only be initiated by derived types. Please change the constructor to protected as following:

protected BaseSpecification(Expression<Func<T, bool>> crit

[2018-01-17 13:38] andrecarlucci opened #77 "Please add .mobi and epub versions of the books in addition to the pdf versions"
I just found the PDF version.
It would be really nice to use e-book readers for that.
Thanks!

[2018-01-17 17:29] CESARDELATORRE commented on #77
We're working on it. We'll have it in eReader (.EPUB and .MOBI) a matter of days. :)

[2018-01-18 22:10] aownshah opened #78 "BasketWithItemsSpecification Code Improvement"
In BasketWithItemsSpecification constructor the code is calling AddInclude which is a virtual method.
This could lead to a possible problem that if you make a virtual method call in a constructor, and it is not the most derived type in its inheritance hierarchy, that it will be called on a class whose constructor has not been run, and therefore may not be in a suitable state to have that method ca

[2018-02-20 18:52] yarrgh commented on #46
I like to create a generic method to ask for a repository. Internally it uses the ServiceProvider to injects/returns a repository.

Something like this:

[code]

[2018-02-21 14:51] nudemeth opened #79 "Cannot run WebRazorPages after cloning"
IDE: Visual Studio Community 2017
Web Server: IIS Express (in IDE)
OS: Windows 7
<details>
<summary>
Stack trace
</summary>
`System.ArgumentNullException: Value cannot be null.
Parameter name: userName
   at Ardalis.GuardClauses.GuardClauseExtensions.NullOrEmpty(IGuardClause guardClause, String input, String parameterName)
   at ApplicationCore.Services.BasketService.<GetBasketItemCountAsync>d__7.

[2018-02-21 14:52] ardalis commented on #79
Good catch - I would definitely look at a PR for this.

[2018-02-27 09:11] abuassar commented on #46
@yarrgh : by doing this you sacrificed with having explicit dependencies

[2018-02-27 14:09] yarrgh commented on #46
Not sure what you mean. If you don't like the UoW knowing about the ServicProvider, you can always leave that dependency off and not have the repository method in the UoW. From there you'd just inject your repositories along with the UoW in your controllers/services

[2018-02-27 19:06] vertonghenb commented on #46
Why do you want to use the UoW pattern? Behind the scenes EF is already using a UoW Pattern (SaveChanges). For some more details you can follow this tutorial: https://cpratt.co/generic-entity-base-class/
However I'm not sure I would recommend this implementation since it would break the idea of DRY(Don't Repeat Yourself) and the SRP (Single Responsibility Principle). But it will help you understan

[2018-02-27 19:24] yarrgh commented on #46
Why I like using the UoW pattern:

https://programmingwithmosh.com/entity-framework/common-mistakes-with-the-repository-pattern/

Yeah, you could use transactions to have the same effect, but I'm terms of simplicity, this is my preferred solution.

If you don't need this functionality, then don't bother with the pattern. That's my opinion.

[2018-02-28 01:52] abukres commented on #77
You can use Calibre. A free ebook converter.

[2018-02-28 18:17] CESARDELATORRE commented on #77
We already published it as .MOBI and .EPUB as announced here:
https://github.com/dotnet-architecture/News/issues/8

Subscribe to the NEWS repo (clock on Watch) to get the news, ok? 👍

Also published in the landing page:
https://www.microsoft.com/net/learn/architecture

Either using Calibre or any other tool, it is a bit costly because of different layout size, etc. But we're making a few of them.

[2018-02-28 18:17] #77 closed

[2018-03-03 16:13] marcrib opened #81 "Dependency AspNetCore.Http in Infra or other project?"
I have a situation where I need to have ICurrentUser on both projects

1 - ApplicationCore for any specific rule with user or tenant
2 - Infra - For global filter in dbContext or repository

The implementation of ICurrentUser have a dependency the Microsoft.AspNetCore.Http

For example:

[code]

I have as dependency Microsoft.AspNetCore.Http, and need to be used in ApplicationCore and Infra (Data

[2018-03-03 17:36] yarrgh commented on #81
Place the `CurrentUser` in the Web project and `ICurrentUser` in the Core project. Use dependency injection to inject the `ICurrentUser` into the other projects that need it.

[2018-03-04 12:48] marcrib commented on #81
Hi @yarrgh, thanks

Other solution is separate the infra projects into other layers

For example:

eShopOnWeb.Infra.Data (DbContext / Repository / Dapper / Others)
eShopOnWeb.Infra.Identity (Asp.Net Identity provider)
eShopOnWeb.Infra.Email (SendGrid)
eShopOnWeb.Infra.Redis (cache)

Would that be bad for clean architecture?

@ardalis Suggestions?

[2018-03-04 18:25] CESARDELATORRE commented on #81
It is ok to have multiple infrastructure projects as long as only the Interfaces/Contracts are the ones defined in the Core project.
Then use dependency injection from the application layers (Web project or any other application layer)

[2018-03-04 22:08] ardalis commented on #81
I aggree with @CESARDELATORRE and @yarrgh . You can split out infrastructure concerns into different projects *if you find value in that*. I usually don't, but it's certainly an option, and the proposed examples of how you might do so make sense. The most important thing, as Cesar notes, is to make sure your interfaces are in Core, your Infrastructure depends on these interfaces, and that Core has

[2018-03-05 19:55] marcrib commented on #81
Thanks all

[2018-03-05 19:55] #81 closed

[2018-03-05 20:12] marcrib opened #82 "CQRS MediatR"
In this architecture, mediatR (Command/Handlers) are implemented in ApplicationCore?

Why Serivces in web project? (CatalogService)
Why not use auto mapper for model => viewModel ?

[2018-03-05 20:53] yarrgh commented on #82
For Automapper, see the discussion in https://github.com/dotnet-architecture/eShopOnWeb/issues/59#issuecomment-338766899

[2018-03-14 08:19] ChandanGhosh opened #83 "CustomerOrdersWithItemsSpecification as glue in OrderController. How to unit test OrderController?"
As I was trying to see the FunctionalTests, I see it is difficult to unit test the OrderController index method as this method glue the CustomerOrdersWithItemsSpecification with new keyword while calling OrderRepository at line number 25. Can you advise what could be a possible way to unit test this particular controller method?

[2018-03-28 15:38] mattferderer opened #84 "[Book improvement] Book Feature Comparison Table Missing Containers"
Sorry if this is the wrong place but the book does a great job detailing architecture.  On page 107, there is a features table which I think has a lot of value. Unfortunately it's only showing 3/4 of the methods you mentioned. Containers and Azure Container Service is left off. Did I miss something or is there a good reason to leave it off or could it just be combined with one of the others on the

[2018-03-28 16:38] CESARDELATORRE commented on #84
@mattferderer - Good feedback. Adding @ardalis (Steve Smith) who's the author of this eBook.
I agree that since the content is also talking about ACS and Containers, it should be included into that table.
The reason might be because originally this ebook was focusing only on ASP.NET Core apps without containers, but then we decided to include containers. That table must be previous to the containe

[2018-04-04 14:20] ivaneliasoo opened #85 "basket as aggregate"
why basket is not grouped as aggregates like orders and buyer?

[2018-04-05 19:59] bgl3317 commented on #39
This is an excerpt from the guide -

Yet, in the sample app code, the web layer project references the infrastructure project and uses four separate infrastructure namespaces in the Startup file alone.  This is really disappointing and seems to undermine the credibility of the architecture guidelines.

[2018-04-05 20:16] ardalis commented on #39
It's that way (in the app) mainly for simplicity. In the excerpt above, not that it says "Your application can avoid" -> can, not must or should. There are benefits to avoiding the project reference, mainly in that it becomes difficult/impossible to have early-bound compile-time references to types in the Infrastructure project (you could still do it with reflection, but that requires a bit more e

[2018-04-09 20:51] punkouter opened #87 "Cannot run update-database"
PM> dotnet ef database update -c catalogcontext -p ../Infrastructure/Infrastructure.csproj -s Web.csproj
C:\Program Files\dotnet\sdk\2.1.104\Microsoft.Common.targets(127,3): error MSB4024: The imported project file "C:\Users\MHerb\Downloads\eShopOnWeb\src\Infrastructure\obj\Infrastructure.csproj.EntityFrameworkCore.targets" could not be loaded. Unexpected end tag. Line 25, position 4. [C:\Users\MH

[2018-04-11 13:00] rajnikaushal opened #88 "Not able to run WebRazorPages on Linux server"
Hi,
First i have added docker support to both applications - Web and WebRazorPages and it's working fine at my local and i am able to run both applications.
Then i am trying to deploy this application on Linux server. Web is deploying fine but for WebRazorPages it's giving me following error:
'Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
http://go.microsoft.com/fwlink/?

[2018-04-13 09:29] ricardo-b-dtakers commented on #87
Did you run "dotnet restore" command before?
What's the path you're tryting to run "dotnet ef..." commands? Is it Web folder?

[2018-04-13 09:50] ratanparai commented on #88
You should learn about docker first. There is a good 6 part [Getting Started](https://docs.docker.com/get-started/) tutorial in docker.

[2018-04-14 16:56] BUBAIMITRA opened #89 "Apllication is not running"
Hello,
        I am try to run the application but I have faced some errors.

thank you

![2018-04-14 22_26_08-eshoponweb - microsoft visual studio](https://user-images.githubusercontent.com/32890969/38770585-e9ba881c-4032-11e8-84a8-df5fb2479ade.png)

[2018-04-15 21:28] punkouter commented on #87
I didn't point it to web. works now

[2018-04-15 21:28] #87 closed

[2018-04-17 14:47] #89 closed

[2018-04-28 15:03] AndrzejWroGM opened #90 "Errors when trying to create databases"
Hello,
When trying to create databases by using this commands

I have following errors in powershel with migrations. Any advice for this issue?
![2018-04-28 1](https://user-images.githubusercontent.com/24229704/39397832-eb240b32-4b05-11e8-81ef-9a9ed65285bb.png)
![2018-04-28 2](https://user-images.githubusercontent.com/24229704/39397835-f98cd7d0-4b05-11e8-9ed3-0b0aba186702.png)

[2018-04-30 20:45] AKrasheninnikov opened #91 "netcoreapp2.0 vs netcorestandard2.0 Compatibility issues and missing references won't let the solution build"
About to tackle numerous build errors like the following. If you've already solved this, please share your suggestions. Thanks in advance.

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'SerializationInfo' does not exist in the namespace 'System.Runtime.Serialization' (are you missing an assembly reference?)	ApplicationCore	G:\code\eShopOnWeb

[2018-05-01 09:30] AnCze commented on #90
Really no one can help solve this problem?

[2018-05-20 15:37] #79 closed

[2018-05-20 15:39] ardalis commented on #88
Are you still having problems? Can you share your Dockerfile(s)?

[2018-05-20 15:41] ardalis commented on #48
An Angular app version of this would be a welcome community addition. It would require some exposed API services, which might be best added as a separate PR.

[2018-05-20 15:42] ardalis commented on #90
It appears you have an older version of SQL Server installed: https://stackoverflow.com/questions/7999448/sql-server-2008-express-edition-how-to-create-a-sequence

SEQUENCE is introduced in Sql Server 2012, I believe. Can you confirm what version of SQL Server you have installed and are you able to update to a more current version?

[2018-05-20 15:43] ardalis commented on #84
Finishing up some updates to the book now; will look at getting this added, too.

[2018-05-20 15:53] ardalis commented on #83
Specifications are value objects with no external dependencies. As such, they don't typically make unit testing more difficult. Here's the line in question in this case:

[code]
If you wanted to *unit* test this method, you would mock the `IOrderRepository.ListAsync` method. Since that's not the method being tested, it doesn't matter what you send it, so if you're using Moq you could call it with

[2018-05-20 15:53] #83 closed

[2018-05-23 14:04] ardalis commented on #90
Closing - let me know if the issue isn't solved by a more recent SQL install.

[2018-05-23 14:04] #90 closed

[2018-05-23 14:05] ardalis commented on #88
Closing - let me know if this is still an issue and please provide more info.

[2018-05-23 14:05] #88 closed

[2018-05-23 17:40] AndrzejWroGM commented on #90
Hello, I have latest SQL 2017 installed and I have abowe issue with it.

[2018-05-23 17:43] jimlamb opened #92 "LoginWithRecoveryCode.cshtml missing namespace reference"
I had to add
    @using Microsoft.eShopWeb.RazorPages.Pages.Account.Manage

to LoginWithRecoveryCode.cshtml to fix some unresolved references while running dotnet publish.

[2018-05-23 20:22] ardalis commented on #76
Thanks!

[2018-05-23 20:22] #76 closed

[2018-05-23 20:22] ardalis commented on #78
Thanks!

[2018-05-23 20:22] #78 closed

[2018-05-27 02:50] jasonsturges opened #94 "Migrations with Infrastructure as NetStandard library"
How are migrations managed when the Infrastructure library is a .NET Standard 2.0 target framework?

This library contains the `AppIdentityDbContext` through `Microsoft.AspNetCore.Identity` with migrations through `Microsoft.EntityFrameworkCore.Tools` packages, but running a migration results in:

[2018-05-29 15:49] ardalis commented on #85
Good point - I've implemented it in the 2.1 branch which will become the master once 2.1 ships.

[2018-05-29 15:49] #85 closed

[2018-05-29 16:24] ardalis commented on #92
I'm unable to reproduce this issue. I can build locally, navigate to that page locally, and publish to a local folder without issue. Can you provide more information?

[2018-05-29 18:59] ardalis commented on #94
No worries; glad you've got it working!

[2018-05-30 14:41] rosspace opened #96 "The functional tests do not work with RazorPages"
I tried implementing the functional tests for my own project but I am using RazorPages and I get the following error:

The type or namespace name 'RazorPages' does not exist in the namespace 'Microsoft.AspNetCore.Mvc' (are you missing an assembly reference?)

The RazorPages project runs from Visual Studio but running it from the TestServer gives the previous error. I tried adding references to Mic

[2018-05-30 14:56] ricardo-b-dtakers commented on #96
In the meantime you can add these to your "FunctionalTests.csproj" file:

- In <PropertyGroup/>:
`<PreserveCompilationContext>true</PreserveCompilationContext>`

- As a new <Target/> element:
`  <Target Name="CopyDepsFiles" AfterTargets="Build" Condition="'$(TargetFramework)'!=''">
    <ItemGroup>
      <DepsFilePaths Include="$([System.IO.Path]::ChangeExtension('%(_ResolvedProjectReferencePaths.F

[2018-05-30 15:27] rosspace commented on #96
@ardalis Yes that worked. Thanks, @ricardo-b-dtakers!

[2018-05-30 17:19] ardalis commented on #96
Would either of you like to send a PR to master?

[2018-05-30 18:38] rosspace commented on #96
I'll do it.

[2018-05-31 14:12] #92 closed

[2018-05-31 14:12] ardalis commented on #84
You can track progress on this here:
https://github.com/dotnet/docs/pull/4905

Closing out this issue now.

[2018-05-31 14:12] #84 closed

[2018-05-31 19:43] rosspace commented on #96
This is now resolved with the update to 2.1.

[2018-05-31 19:43] #96 closed

[2018-06-02 22:42] samsar777 opened #99 "."

[2018-06-03 14:08] ElAmen opened #100 "Error when launching web project"
InvalidOperationException: Scheme already exists: Identity.Application
Microsoft.AspNetCore.Authentication.AuthenticationOptions.AddScheme(string name, Action<AuthenticationSchemeBuilder> configureBuilder)
Kindly help. Thanks

[2018-06-03 14:58] ardalis commented on #100
Which project are you running, Web or RazorPages? Are you getting this on app startup, on some page, or when trying to run migrations? Help me help you... :)

[2018-06-04 00:16] #99 closed

[2018-06-04 16:55] hutchcodes opened #101 "Namespaces need standardization"
In the ApplicationCore project some of the classes are defined in the `ApplicationCore.*` namespace, some are defined in `Microsoft.eShopWeb.ApplicationCore.*` namespace. The default namespace is `ApplicationCore`

Similar issue in the Web project where most of the project is under `Microsoft.eShopWeb.*`, but a few classes have been created in `Web.*` which is the default namespace.

As someone wh

[2018-06-04 17:17] ardalis commented on #101
Agreed this should be fixed. I can get to it this week but would take a PR if you want to knock it hit sooner. I would standardize in the Microsoft.eShopWeb prefix and make that the project default as well.

[2018-06-04 18:29] ardalis commented on #100
Can you confirm you have installed the ASP.NET Core 2.1 SDK? ASP.NET Core 2.1 introduced support for Razor Pages to search in the `/Pages/Shared/` folder for shared Razor files, like `_Layout.cshtml`. The reason it's no longer in the root `/Pages/` folder is that it's now in the `/Pages/Shared/` folder, which works fine when running 2.1 (as far as I can tell).

[2018-06-05 10:30] ElAmen commented on #100
I have installed ASP.NET Core 2.1 before opening the project nevertheless I had to create the layout before it could run.
I am more interested in the Web Project as my main focus is MVC. Kindly help me with the identity issue:
InvalidOperationException: Scheme already exists: Identity.Application
Thank you

[2018-06-05 12:53] #101 closed

[2018-06-05 12:54] ardalis commented on #100
I think the last PR merged into master addressed the `_Layout.cshtml` issue.

[2018-06-05 13:24] mtugnoli commented on #100
I have the same error (I have installed ASP.NET Core 2.1 SDK)

[2018-06-05 14:57] ardalis commented on #100
Please provide full stack trace and/or a screenshot of the message. I'd like to reproduce the issue but am not seeing (testing it on multiple machines). I've tried with both Kestrel and IIS Express hosts and both work fine. Did you follow the instructions here? https://github.com/dotnet-architecture/eShopOnWeb/blob/master/README.md

Specifically:

[2018-06-05 15:03] ardalis commented on #100
I may have found the problem. Are you modifying this code?

[code]
by uncommenting the call to ConfigureProductionServices() ? If so, you need to then comment out the call to ConfigureServices because ConfigureProductionServices calls that, too (and you can't run it twice). Please confirm. I'll update so it's less confusing.

[2018-06-05 15:58] ardalis commented on #100
Try getting latest from `master` and re-follow the instructions in the README and see if it works now. I'm 99% sure the issue was that `ConfigureServices` was running twice, and hence `AddIdentity` was running twice.

[2018-06-05 15:58] #100 closed

[2018-06-07 12:45] samsar777 opened #104 "Pagination not being reset"
Once being on the page number 2 you change filters, after refresh page is still set to 2. Thus there are no results as filtered products fit on one page entirely.

Same clicking on the logo shall return current page to 1 (although can keep value of selected filters - it works this way now).

I have tried to change it on my own, however this is just the beginning of journey with Asp.net. Too early

[2018-06-09 03:01] atiq-cs commented on #100
I got following error after launching first time,

    HTTP Error 502.5 - Process Failure

    Common causes of this issue:
    The application process failed to start
    The application process started but then stopped
    The application process started but failed to listen on the configured port

    Troubleshooting steps:
    Check the system event log for error messages
    Enable logging th

[2018-06-10 19:18] chamikasandamal opened #105 "When to use service or repository"
`IOrderRepository` is used in `OrderController` and `IOrderService` is used in `BasketController`
Why you are not using `IOrderService` in both of the locations?

[2018-06-11 18:25] ardalis commented on #104
When I click on the link to go to page 2, then change the filter (e.g. to choose Mugs) and then click the button next to the filter, I'm taken to a page showing 2 of 2 mugs (page 1). I'm not able to reproduce the issue you're describing.

[2018-06-11 18:27] ardalis opened #106 "OrderController Detail always shows first order"
`OrderController Detail(int orderId)`

doesn't use the `orderId` that is passed into it - it just always returns the first item in the Orders collection. Also, it doesn't check whether the currently logged-in user has access to the orderId being passed in.

[2018-06-11 18:28] #106 closed

[2018-06-11 18:34] ardalis commented on #105
`IOrderService` exists to coordinate between `Basket`, `Order`, and `CatalogItem`. It only has one method, `CreateOrderAsync`, for this purpose. `BasketController` needs this method, so it uses `IOrderService`.

`IOrderRepository` has methods for fetching `Order` entities from persistence. `OrderController` needs these methods, so it uses this repository. If creating an `Order` was a simple `.Add(

[2018-06-11 18:34] #105 closed

[2018-06-12 09:45] samsar777 commented on #104
Herewith steps to reproduce

1. Open app in initial state Brand=All, Type=All, Page=1 of 2)
2. Change page to 2. Only two items shall be visible.
3. Change Type to Mug, press button
4. No items displayed "THERE ARE NO RESULTS THAT MATCH YOUR SEARCH" nor pagination controls. Seems app is set to page 2 which does not exist with given filters.

However is is not true, because thare are two Mugs. To s

[2018-06-12 13:32] ardalis commented on #104
Ah, I was able to reproduce it, but only for the WebRazorPages project, not the Web project.

[2018-06-12 13:41] #104 closed

[2018-06-12 13:45] samsar777 commented on #104
Sorry that I didn't report it properly.

[2018-06-12 13:54] ardalis commented on #104
No worries, I appreciate you reporting it at all! :)

[2018-06-13 07:24] farhad2161 opened #107 "insert and update date"
I have insert date and update date fields in all of my tables. Where is the best place to set this fields automatically?

[2018-06-13 15:21] ardalis commented on #107
Best is a matter of taste, I suspect. The simplest approach is probably to just use triggers (and/or default values for the insert date) in the database to set these. Given that you have them on "all of your tables" it sounds to me like a cross-cutting concern that can remain in the data/database layer.

If triggers don't work, then my next recommendation would be to do it in the ORM, by modifying

[2018-06-19 19:39] deepfamous opened #108 ""Send Email Verification" doesn't work"
Clicking "Send Email Verification" results in EmailConfirmationLink returning a null value for me. Any Ideas how to fix it?

[2018-06-28 10:16] bassemyehia opened #110 "how to add subitems table into basket?"
Hi there i add sub catalog items into database and make it work and i show data from it and it work ok

and make sub item table to basket but can't work to show data from this table with 2 Elements Catalog Item Id and Basket Id

Plz Can you help me out

i am new to c# i develop with VB.

[2018-06-28 13:28] ardalis commented on #110
I'm not sure what you mean by "sub catalog items". Can you show more code? Is a sub item a component of another item, like you might have a "Suit" catalog item with sub items "jacket" and "pants" or what?

[2018-06-29 13:32] bassemyehia commented on #110
can i send you the code for the entire working sample now

[2018-06-29 13:40] ardalis commented on #110
can you put it in a public github repo? perhaps a fork of this one?

[2018-07-01 08:52] bassemyehia commented on #110
https://github.com/bassemyehia/PartnerPortal

[2018-07-01 08:52] bassemyehia commented on #110
Sorry for late

[2018-07-06 11:26] eluchsinger opened #111 "Question: Why await inside the repository?"
Why do you have to `await` inside the repository? Couldn't you just return the task?
[Example code](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Infrastructure/Data/EfRepository.cs#L37)

[2018-07-06 12:52] ardalis commented on #111
I think we could just return the task. I'll make an update unless you want to do a quick PR?

[2018-07-06 13:21] eluchsinger commented on #111
I can make a PR later today.

[2018-07-07 17:48] #107 closed

[2018-07-08 17:09] natarajkt commented on #48
I would love to contribute with API services

[2018-07-09 03:13] yanshengjie opened #113 "dotnet run can not read the default setting in launchSettings.json"
I run the Web project with `dotnet run` and it starts the web server.

![](https://user-images.githubusercontent.com/12607748/42428745-dc4591ea-8367-11e8-810d-1daf6273933b.png)

[code]

From the picture we can see that it reads the launch settings from the launchSettings.json but it does not listen on the `http://localhost:5106` which configured on the json file.

Even I change the port 5106 to ot

[2018-07-09 08:03] yanshengjie commented on #113
[code]

I got it. In the Program.cs file it sets the url to the `http://0.0.0.0:5106`.

[2018-07-09 08:03] #113 closed

[2018-07-10 01:56] ghd258 opened #114 "possible to add action filters to razor pages"
possible to add action filters to razor pages

[2018-07-11 01:30] yanshengjie commented on #46
@yarrgh No matter what, I agree with you. In ddd, I prefer uses UOW to manage repositories to ensure the  consistent state of aggregate.

[2018-07-14 12:28] iamsky13 opened #115 "Question: Why interfaces are in Web not in ApplicationCore"
Why ICatalogService and IBasketViewModel are at Web not in ApplicationCore?

[2018-07-17 02:58] yhzjut opened #116 "what is the db design"
for example order table design，orderitem tabledesign？

[2018-07-17 12:10] ardalis commented on #116
They are created using EF migrations. You can see the scripts in the Infrastructure/Data/Migrations folder. The sample is often run with just the InMemory provider, so the database design isn't relevant. However,  you can use it with a database - here's a screenshot:

![image](https://user-images.githubusercontent.com/782127/42816443-d213a39c-8998-11e8-9366-7ed81acb32f3.png)

...which reminds me,

[2018-07-17 12:10] #116 closed

[2018-07-17 12:12] ardalis opened #117 "Constrain String Property Max Length in Database"
Currently all string properties are nvarchar(max) in the db schema. Add max length and any other reasonable constraints using fluent syntax.

[2018-07-17 17:42] kdcllc commented on #117
To have Fluent Api or attribute based restriction?

[2018-07-17 18:00] ardalis commented on #117
" using fluent syntax." please.

[2018-07-25 19:00] btastic opened #118 "Usage of areas"
Hey there,

I always like to take a look at this project for some inspiration on how to solve some stuff. Right now I have the problem that I want to use the areas feature, but I don't know how to apply it correctly.

I have something like this:

- Areas
  - Cart
    - Cart.cshtml
  - Product
    - Products.cshtml
    - Product.cshtml

Now to link to either page I do something like this:

`<a asp-

[2018-07-27 09:53] michael-nee opened #121 "Docker Issue running from Dockerfile's, not docker-compose."
When I use to run from the dockerfile build's I get errors regarding DbContext.

Everything works when I startup using docker-compose build and then docker-compose up.

[2018-07-27 16:56] CESARDELATORRE commented on #121
Not sure if I understood your question.
Basically, if you just run the app's container with "docker run" (is that what you mean), there's no SQL database container running, you are starting just the web app's container, therefore, you get the errors.

With docker-compose you can set dependencies between containers, so if the web app depends on the SQL container, this will also be started even if y

[2018-07-28 07:52] michael-nee commented on #121
Docker-Compose doesn't run an SQL Container.  It just starts both MVC and RazorPages containers from their images.

[2018-07-28 08:07] michael-nee commented on #121
Found the issue.

The original docker files has setting the environment variable to Development commented out, while Docker Compose has it as an command to pass in.

[2018-07-30 13:29] ardalis commented on #121
Ah, that would do it, thanks. Without that variable, the containerized app will look for a database that isn't present. Do you want to send a small PR, or just let me fix it?

[2018-07-30 14:41] michael-nee commented on #121
Happy for you to do it.  Also for the MVC Web app, the run command port mapping isn't 1 to 1

Should ideally be 5106:5106.

[2018-07-30 16:44] somecodestuff commented on #108
Assuming you're running the WebRazorPages project, the error occurs because Pages/Account/ConfirmEmail.cshtml is missing. Add that page back in (you can get it from the Razor Pages template project) and it should work.

[2018-07-31 20:19] politigf opened #122 "Question: Should the same dbContext be used within each EfRepository?"
I have based parts my project on the eShopOnWeb solution, and I recently ran into what looks like a race condition due to the same dbContext being used in multiple repositories. I re-visited the eShopOnWeb solution and added a simple Guid property to the CatalogContext that gets set in the constructor. Then, when I set a breakpoint and debug the solution.

In this code:

`        public CatalogSer

[2018-08-01 13:07] politigf commented on #122
The services/repos are scoped, and I thought it should be fine too, however when I do something like the following:

`await Task.WhenAll(task1, task2, task3);`

and each of those tasks is a call into an async method within the same service, I'm hitting the race condition with sporadic different errors (but most often gets the error in my original post), because they're all using the same context a

[2018-08-01 13:32] #122 closed

[2018-08-01 19:08] ardalis commented on #122
Glad to see this is sorted out. I'd like to be able to reproduce the issue, though, so I can document it better. Can you share more of your code, in terms of what the tasks are doing that's causing the problems? I tried putting together a very simple ASPNET Core app (separate from this repo) that did this inside a controller action, but I haven't gotten it to fail yet:

[code]

[2018-08-02 11:26] politigf commented on #122
I went back and reviewed the code from before I removed the Task.WhenAll, and the only real difference between what I had and yours was that each of the context calls where in methods that called a service and I was doing a Task.Delay(5000); in each just for testing which seemed to exacerbate the problem. It looked like this:

[code]

[2018-08-07 11:32] kdcllc commented on #121
@ardalis, I have feature PR with Docker files fixes and db fluent syntax added.

[2018-08-10 03:57] kuacci commented on #46
@vertonghenb , EF has UoW built in, but how about other ORM frameworks? ORM tech should separated from upper layer like Repository/Business Logic.

[2018-08-12 21:00] ardalis commented on #46
@yarrgh shows some good implementation options. As I wrote, I didn't need one in the initial version, so I didn't both adding it to keep things simpler. EF has it built in, but even if it didn't, I'm not using EF's capability because I'm explicitly saving changes on each write event in the repository implementation. In a web/web API app it's often the case that you want to do very small, atomic ta

[2018-08-12 21:00] #46 closed

[2018-08-29 15:05] ardalis opened #124 "Replace Bower in Web and WebRazorPages"
Bower has been deprecated and is no longer used by ASP.NET Core project templates. See this related issue:
https://github.com/dotnet-architecture/eShopOnContainers/issues/670

[2018-08-29 15:43] CESARDELATORRE commented on #124
I thought you updated this as part of the last upgrade to ASP.NET Core 2.1.. since it should be aligned to the ASP.NET Core 2.1 templates.

[2018-08-29 17:42] ardalis commented on #124
It's not being used but it looks like the files were left behind (bower.json, .bowerrc). Looking at the current 2.1 templates, there's no bower but also nothing else for client side package management. I'll simply remove the files for now and close this out.

[2018-08-29 17:45] ardalis commented on #124
Fixed by https://github.com/dotnet-architecture/eShopOnWeb/commit/95a2a6208f915c92aa30dcef65edbd2ba9e60706

[2018-08-29 17:45] #124 closed

[2018-09-03 06:37] fabercs opened #125 "Isn't this line bad for ensuring the integrity of transactions"
I always see that context's `SaveChanges()` method is isolated inside another function, a `Save()` or a `Complete()` method for the sake of entity framework's **unit of work**  inside generic repository implementations. Here why is it called after for every command methods?

https://github.com/dotnet-architecture/eShopOnWeb/blob/7b24c9140d269d7d670d1e2e0959fab5c9579f3a/src/Infrastructure/Data/EfRe

[2018-09-04 12:17] ardalis commented on #125
This has been discussed before in #46.
https://github.com/dotnet-architecture/eShopOnWeb/issues/46#issuecomment-412371391

Basically, since the application is typically only performing a single operation per request, there was no need to make it more complex by introducing a Unit of Work pattern (as a separate interface) or adding a `Save()` method on the repository interface(s). But that doesn't

[2018-09-05 19:18] rafsanulhasan opened #131 "Follow ASP.NET Core guidance for Web"
@ardalis IMHO, we should follow ASP.NET Core docs, guidance and best practices for the Web:
- [x] Update ASP.NET Core to 2.1.4 (done in PR #136)
- [x] Add HTTPS Endpoints (done in PR #127)
- [x] Add GDPR Cookie Compliance support (check user's consent to use Cookie) (done in PR #130)
- [x] Update Docker images for the following: (done in PR #129)
  - [x] ASP.NET Core Runtime 2.2.103
  - [x] .NET C

[2018-09-07 11:39] #125 closed

[2018-09-09 11:55] rafsanulhasan opened #132 "Pull"
I tried to use **[pull bot](https://github.com/wei/pull)** (as used in eShopOnContainers) but failed. What could be the problem?

[2018-09-10 12:47] fabercs commented on #115
@iamsky13 the answer is given [here](https://github.com/dotnet-architecture/eShopOnWeb/blob/1b5b179c7f55b9b032695b26115ae8ddb6faae3c/src/Web/Services/CatalogService.cs#L15)

[2018-09-10 17:58] ardalis opened #133 "Rename file to match type"
https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Interfaces/IBasketService.cs

File should be `IBasketViewModelService.cs`

[2018-09-11 05:39] fabercs opened #134 "Questions on general architecture (Generic repository, multiple dbContexts, service layer)"
This is a batch question for guidance at my an ongoing project. Well, I am trying to follow clean architecture structure.

1- First of all, is there any enforcement to not to call generic repository `IRepository<User>` from Web api controllers? Should I always create a Service Layer for at least a simple query anyway? Or should I build a specific repository that inherits generic repository than us

[2018-09-11 12:09] ardalis commented on #134
1. No, there is no enforcement. You certainly can call repositories directly from controllers, and many applications do so. If your model is such that your entities have a lot of behavior embedded in them, then many controller actions may simply consist of:

[code]
However, some teams do establish standards that, in order to keep controllers lean, they only call a service layer from the controller

[2018-09-11 12:47] fabercs commented on #134
@ardalis Thank you very much for your response, it all does make sense, just a few points,

For exposing `DbContext `in `IRepository` all the things got engaged (generic repositories with multiple contexts and transactions etc), so did it unwittingly, thanks for your reviews, I will revert it.

For a concrete example of domain-specific repository interface, let's say I have 2 DbContexts
`AppDbCont

[2018-09-11 13:05] ardalis commented on #134
Yes, something like ILogRepository would work, and you could have your concrete implementation in the Infrastructure project request a LogDbContext. Assuming this is for logging, I probably wouldn't call it a repository, since typically you don't do updates or deletes or even many reads of log entries. If that's the case, a more intention-revealing name might simply be an ILogger. But I don't know

[2018-09-11 13:27] fabercs commented on #134
It was just a bad choice for naming the context. Now all is ok, thank you for your efforts.

[2018-09-11 13:27] #134 closed

[2018-09-14 22:02] lilleindi opened #137 "Question: Change to use REST"
What would be the best way to change this to use REST, so that the web interface could be on another server? Or so it would be possible to make a webshop app?
Regards

[2018-09-14 22:30] CESARDELATORRE commented on #137
@lilleindi - For REST and Microservices approaches you have a lot more info at eShopOnContainers and its related .NET Microservices Architecture, here:

Reference Microservices app: [https://github.com/dotnet-architecture/eShopOnContainers
](https://github.com/dotnet-architecture/eShopOnContainers
)Guide/Book: [https://aka.ms/microservicesebook](https://aka.ms/microservicesebook)

[2018-09-15 06:59] lilleindi commented on #137
Thanks alot :-)

[2018-09-17 02:17] KhalilMohammad commented on #111
What is the reasoning behind removing await keyword?

[2018-09-17 02:46] TNHSAesop opened #138 "Can someone explain to me the difference between services in the Application Core project and the Web project?"
I see the same structure of folders with interfaces and services both in the application core project and the web project.  I'm confused as to why some services and interfaces are in the web project and some are in the application core project.  Doesn't this defeat the purpose of the layered architecture? I do notice that services in the web project seem to be read/query based services that need t

[2018-09-17 14:06] ardalis commented on #138
The difference is the kind of services. As you noted, the ones in the web project return things like `ViewModel` types. The ones in the application core work more directly with the domain model and do not have dependencies on or knowledge of UI concerns (including ViewModel types). You can define services in any of the projects, and the decision for where they go should be based on their level of

[2018-09-18 14:09] #138 closed

[2018-09-18 14:16] TNHSAesop commented on #138
Thanks for clarification!

[2018-09-19 00:29] valdirviana commented on #111
The reason because have `await` is the point to access IO via _dbContext async methods. Removing the `await` the method of the repository will lost your async feature.

[2018-09-24 23:28] jeremiahflaga commented on #48
Hi @ardalis , @natarajkt , @mohjache ,

This might be a dumb question but it's hard to find answers for this kind of question. In this sample project, eShopOnWeb, if I want to put authentication in the API part, should I create a separate AccountController for that? Or I can reuse the exisiting AccountController in the MVC part of the project?

Thanks!

[2018-09-25 08:42] rafsanulhasan commented on #48
I am keen do work on this...

[2018-09-27 18:37] jeremiahflaga commented on #48
Hi @rafsanulhasan , I would really love for this project to have API services because I'm planning to use this project when learning frontend javascript technologies such as Angular, ReactJS, and VeuJS.

[2018-09-27 19:49] CESARDELATORRE commented on #48
We already have an SPA web app (using Angular) in eShopOnContainers as it has the microservices already.
Take a look here: https://github.com/dotnet-architecture/eShopOnContainers/tree/dev/src/Web/WebSPA

Deployment:
https://github.com/dotnet-architecture/eShopOnContainers/wiki/06.-Setting-the-Web-SPA-application-up

It you want to create a monolithic Web API service consumed by an SPA app, you co

[2018-09-27 20:04] CESARDELATORRE commented on #48
And btw, in case someone does it, it should take a similar approach than current with the Razor app and MVC app, so both re-use the same "internal" layers (ApplicationCore/Domain and Infrastructure).
Therefore, there should be a new ASP.NET Core Web API project based on those internal layers, pretty thin in code because of that.

Then, an additional project for the SPA app (either Angular or React

[2018-09-27 20:16] CESARDELATORRE commented on #48
Another cool possibility instead of Angular or ReactJS:
BLAZOR, everything in C#, even the client SPA side! :)

https://blazor.net/docs/get-started.html

Note that BLAZOR is still experimental, not for production, though.

[2018-09-27 21:15] jeremiahflaga commented on #48
Hi @CESARDELATORRE , thank you so much for your response.

You are right. The API services can and should be on a separate project :) Thank you for that.

And thank you for the info about Blazor. It's a very good project I think. I gives us the ability to use C# and .NET everywhere. I hope it will become popular and will be used by many in production.

[2018-10-15 17:47] TNHSAesop commented on #138
It seems that when performing and update or add operation, all code flows through the service layer, even if the service layer just acts as a pass through method to the underlying repository.  However it seems fair to say that in the case of read only operations it's safe to read directly from the repository, bypassing the service layer altogether.  Am I correct in that assessment, and if so why i

[2018-10-15 18:01] TNHSAesop commented on #138
Maybe I misread the intention, it looks like it could also be the case that if there isn't a need for any business logic for an add or update operation you can use the repository directly.  The service class is only leveraged if there is a need for business logic to be executed before interacting with the repository.  Is that correct?

[2018-10-15 20:54] TNHSAesop opened #144 "Repository per model?"
I've been working with the abstractions for IRepository<T> and IAsyncRepository<T> and I'm liking how quickly you can spin up a basic repository for an entity, but I was wondering.  If you have an agreggate root, how are you supposed to query sub tables/entities of the root?

For instance I have a discussion repository with discussion threads as the root, and discussion replies as a child of the r

[2018-10-15 22:22] vertonghenb opened #145 "Use Private Constructors and Setters in the domain"
As of EF Core 2.1 we can use Private Constructors/Setters to encapsulate the Domain.

EF used to break the encapsulation principal of the domain since we had to use Public Setters, but as of 2.1 we can use a real DDD approach again. I do believe we should promote this feature.

[2018-10-16 01:55] ardalis commented on #144
"It depends."

Ideally, if Thread is an Aggregate Root and Reply is a child, then you would want to load the Thread from a Repository and then interact with it, perhaps by calling an AddReply() method. Then, save the Thread. DDD focuses on having a complex domain model with which to operate, and you need to load that model from persistence in order to take advantage of it, which isn't always ideal

[2018-10-16 07:33] fabercs opened #146 "In which project should Localization Resources be?"
I am building an asp.net core app and it should support multi-lang. So, in general, all `.resx` (resource files) reside in `Web` project. I don't think it is a good choice to keep resource files in Web project for this clean architecture approach because, e.g we keep enums which are members to be localized in `Core` project, and core project can not reference `Web` project. So I guess we need to m

[2018-10-16 10:20] EricHoangNV opened #147 "OrderRepository: get without using ID"
GetByIdWithItems & GetByIdWithItemsAsync always return the first order because **id** was not included in LinQ query

[2018-10-16 21:43] fiseni opened #148 "Paging done upon IEnumerable types"
Repositories indeed should return in memory collections, but, applying paging upon whole list of items doesn't seem right (e.g. CatalogService.GetCatalogItems).
What's the best approach? Returning IQueryable from repositories, or adding .Skip and .Take implementations in the specifications.

[2018-10-20 14:43] fiseni commented on #148
Paging infrastructure implemented through specifications. Pull request #151

[2018-10-23 19:27] ggros opened #152 "error NU1202: package Microsoft.CodeAnalysis.CSharp.Workspaces 2.8.0 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1)"
Tried to build with VS 2017 15.8.7 (net core 2.1.5) and got error:
error NU1202: package Microsoft.CodeAnalysis.CSharp.Workspaces 2.8.0 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1)

Solved the issue removing the nuget package from Web.csproj Microsoft.VisualStudio.Web.CodeGeneration.Design Version="2.1.3"

[2018-10-25 23:04] DmitriyKartushin opened #153 "_basketService.DeleteBasketAsync - does not remove the basket from DB"
Hello everyone! This method  await _basketService.DeleteBasketAsync(basketViewModel.Id); -  does not remove the basket and basketItems from the database (MSSQL)
BasketId only = null in the BasketItem table. It is right?

[2018-10-26 14:38] shinjiDev opened #154 "Why is OrderController using OrderRepository?"
I don't understand why is all the other controllers are using a Service, but OrderController is receiving an OrderRepository in constructor. Is there any reason to do this?

[2018-10-26 15:39] ardalis commented on #154
It's simply reading data, and the repository offers the functionality required. It's showing that you don't have to use a service, necessarily, from a controller. If you want to enforce a policy that controllers always work with services in an Application Service layer, you're certainly free to do so. Alternately, you can use a tool like MediatR to delegate all controller actions to individual han

[2018-10-30 02:32] vertonghenb opened #157 "Validation in Setter instead of Constructor"
This issue builds further on the idea of: https://github.com/dotnet-architecture/eShopOnWeb/issues/145

Currently all the validation logic of the domain models are happening in the Constructor which is not always the best choice, since the properties are set via a private setter. This means we can still manipulate them in the domain entity itself, even if it's invalid.

Since EF Core 2.1 does't us

[2018-10-30 02:39] vertonghenb commented on #117
Agreed!

We should even create separate ConfigurationFiles based on IEntityTypeConfiguration<T> for each Entity.

E.g. OrderConfiguration in the ...Data.Configurations namespace

[2018-10-31 06:01] vertonghenb opened #158 "HashSet vs List in Navigation Collections"
Currently we expose a `IEnumerable<T>` for navigational collections, the backing collection is a `List<T>`. But isn't a backing `HashSet<T>` more performant?

Thoughts are welcome!

[2018-11-04 00:46] Sin333 opened #159 "You're great programmer"
Thanks you and you IRepository realization with use EF Core))

[2018-11-04 11:33] alecola opened #160 "Repositories of non-aggregate root entities?"
Hello,
just a question: why repositories of non-aggregate root entities?

[2018-11-05 00:51] vertonghenb commented on #160
A SelectList for example

[2018-11-13 05:52] fabercs commented on #138
@ardalis As the project grows up, I came up with that, I have two methods in both ui service and core service which are exact same, eg, `getAllUsers` ui service method for `User/List`, and `getAllUsers` for core service for its logic. So for this scenario, should I keep services as is? Or would it be sensible to call core service from ui service to avoid DRY?

[2018-11-13 13:44] ardalis commented on #138
I think you mean to stay DRY, not avoid it. It's up to you. The more business logic you can push into the Application Core, the better. The only reason you typically want to have services in Infrastructure is if they have to deal directly with Infrastructure types. Likewise, services in UI usually are there because they're coupled to the UI in some fashion, such as if they return ViewModel types d

[2018-11-13 16:49] apincik opened #161 "constructor"

[2018-11-13 16:49] #161 closed

[2018-11-13 18:14] fabercs commented on #138
yes I meant to avoid repeating yourself. :) Thanks for your remark.

[2018-11-16 15:03] yangxinyun opened #162 "When deployed on IIS, get error 404"
Need help here. After publishing the web MVC to  folder and created website based on the folder, the website cannot be visited with error 404.

[2018-11-16 15:04] yangxinyun commented on #99
Hi there,

Did u fix the problem?

[2018-11-16 16:02] ardalis commented on #162
Go to the Web project folder in a console/terminal and run 'dotnet run'. Let me know if that works or what error you see.

[2018-11-17 09:53] rjs123431 commented on #162
If you are using IIS on local machine, make sure you have .net core runtime installed https://www.microsoft.com/net/download
and check application pool .NET CLR version should be 'No manage code'

[2018-11-17 15:13] yangxinyun commented on #162
Hi , It is really specific issue to the eshop website. I can create and run a dummy asp.net core MVC and deploy it to local folder and run it without problem. But when it comes to the eshop,I can only run it within VS or change project debug setting to deploy it to IIS. But this is not the same type of deploy as you click publish in VS to folder

[2018-11-18 14:38] Balirezaei opened #163 "User.Identity.IsAuthenticated is false after successful login"
Need help here.Context.User.Identity.IsAuthenticated is false after  successfull login ? I just run downloaded git code.

[2018-11-18 14:51] Balirezaei commented on #163
I used Firefox and it worked :(

[2018-11-18 17:10] ardalis commented on #163
Which browser did you use when it didn’t work?

[2018-11-19 02:59] krs99 commented on #25
Any news regarding decoupled DAL from UI in startup class? Is there any options to use IoC container without tighlty coupled these layers?

[2018-11-19 06:01] Balirezaei commented on #163
Google Chorome

[2018-11-19 08:05] yangxinyun commented on #162
Is there anyone who had successfully deployed the eShopOnweb site to IIS? Can u share with us your way of getting this done?

Thanks in advance

[2018-11-19 08:40] rjs123431 commented on #162
works for me. had to changed the connection strings to
[code]
Modify that to your own credentials

I think the real issue here is that it can't connect to the database, and will try to render the /Catalog/Error but can't find it so it returns 404 instead

[2018-11-19 10:36] yangxinyun commented on #162
Hi rjs123431,

Thank you for your reply. I suspect this in the beginning as well. However, to exclude this , I used inMemoryDB instead by configuring start.cs to use the InMemoryDB, it still failed with 404. But at this time, no error can be found in eventviewer.

Just to be crystal clean, did u publish it by issuing publish cmd from mvc project  context menu in VS and select publish to file syste

[2018-11-19 11:38] rjs123431 commented on #162
Yes, that's what I did. Clone this repo, modify the appsettings, right-click the **Web** project > Publish to folder `\eShopOnWeb\src\Web\bin\Debug\netcoreapp2.1\publish`, create website in in IIS and change application pool

[2018-11-19 11:52] krs99 opened #164 "Decoupled UI and DAL"
Hello,
Any news (Issue #25)   regarding decoupled DAL from UI in startup class? Is there any options to use IoC container without tighlty coupled these layers?

[2018-11-19 17:18] fiseni commented on #164
ASP.NET Core introduced some changes and improvements, including the built-in service container. By registering services in this container, ASP.NET Core handles all the dependency injection for you. Shortly, IoC is already used in the project.
As far as I can see, most of the logic is already decoupled from DAL. In our case the Web project is the composition root, that's why DAL components are ref

[2018-11-19 18:23] krs99 commented on #164
Thank you for your response.

 I try to avoid use third-party librares as IoC. This sentence is important for me "Decoupling in essence means easy replacement".
 In Web project is a reference to Infrastructure Layer, but there also dependency on Microsoft.EntityFrameworkCore, so I created extensions for IServiceProvider in Infrastructure layer and register services :
`services.AddDbContext<MyDbCon

[2018-11-20 14:32] apincik opened #165 "Where should i put AutoMapper ?"
In case i have services, entites in Core and i have ViewModels in Web project.

Should i use automapper in controller and just passed mapped entity to service ?

What could be the cleanest solution. For example i need to update an entity, so i map viewmodel to entity in controller and i call service->update(int id, Entity entity). Or just set ID in controller and other stuff and just call service

[2018-11-21 08:54] yangxinyun commented on #162
Thanks rjs123431 for your help. The problem is finally solved. The root cause is ,as you pointed out, with sql DB connection credential. I managed to make it work by using my identity as app pool identity. The detailed log can be enabled from web.config generated on deployment time which may be helpful for those who is incurring strange issue.

One more question for you rjs123431 if I may, your re

[2018-11-21 14:24] Praveen-Rai opened #166 "How to support modularization ?"
The sample does makes the core Testable, and separates the concerns of WebHost, Database and UI Engine. For me the greater problem is to add new functionalities, infact the separation into 3 layers actually adds work for me. Let's assume for this example itself, we want to add payment gateway or may be a product rating mechanism. I'll have to modify all the three projects for it. What instead inte

[2018-11-21 16:54] fiseni commented on #165
Hi,

Either way is correct. Everything is arbitrary and it depends on the scope of the project.
If you do the mappings in the controllers, that actually means that your UI layer is aware of your domain model. That's totally OK for relatively small/medium projects. In case of larger projects, enterprise applications, then you might consider the following topics as a starting point
- Domain Services

[2018-11-21 17:10] #165 closed

[2018-11-21 19:10] #148 closed

[2018-11-22 00:02] rjs123431 commented on #162
Hi, glad you got it working.

About the 404, I suspect its because of the routing. No default template in `Startup.cs` `app.UseMvc()` and if you look at CatalogController there is `[Route("")]` and `[HttpGet("Error")]`. I don't have enough knowledge so I can't explain this. But you can easily fix that by either changing `Startup.cs` to `app.UseExceptionHandler("/Error");` or the `CatalogController

[2018-11-25 16:03] #162 closed

[2018-11-26 17:16] ardalis commented on #163
Great! Not sure what the issue was - let me know if you see it again.

[2018-11-26 17:16] #163 closed

[2018-11-27 14:10] #159 closed

[2018-11-27 14:30] ardalis commented on #146
There are no enums in this sample, so I'm assuming you're using them just in your own adaptation of this approach. I typically do not use enums when they need to have a display value, preferring instead to use a class-based approach. I have a project here that I use for this purpose: https://github.com/ardalis/SmartEnum

I'd be fine to reference SmartEnum from ApplicationCore since the logic of th

[2018-11-27 14:30] #146 closed

[2018-12-04 19:00] motowilliams opened #167 "Organize for feature instead of technology"
A very common approach for these web apps is to organize them in a way that better aligns with the business value instead of the default technology layout (controllers, models, views etc).

I've yet to have a chat with a product owner where they really want to see how a new controller can drive business value.

[2018-12-08 09:53] Dekorg commented on #167
@motowilliams   do you mean something like this  [ContosoUniversityCore/Features](https://github.com/jbogard/ContosoUniversityCore/tree/master/src/ContosoUniversityCore/Features ) ?

[2018-12-08 19:46] #108 closed

[2018-12-08 19:54] efleming18 commented on #110
Hi @bassemyehia - just following up with the discussion here. Were you ever able to get this working? I tried going to the link you posted above, but received a 404. If you're still having trouble, let me know and I'll see what I can do to help!

[2018-12-08 21:19] efleming18 commented on #118
Hi @btastic just following up here. Do you still need some guidance? I'm sure you've checked out [the Docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.2) on Areas in .NET Core. That provides some pretty useful information. Do you have a repo or anything as an example I could maybe take a look at?

This might not be the best repo for your question as we don

[2018-12-08 21:21] efleming18 commented on #133
Closing issue as it was merged in https://github.com/dotnet-architecture/eShopOnWeb/pull/143

[2018-12-08 21:55] efleming18 commented on #147
Hi, @EricHoangNV - you are correct. Thanks for pointing that out. I will address this soon.

[2018-12-09 07:10] ghd258 commented on #114
ASP.NET Core 2.0 Razor Pages comes with a different flow model which requires development to support auditing, validation, authorization and UOW on it.

[2018-12-10 12:39] btastic commented on #118
Hey @efleming18,

thank you for following up. We went with something different, but I would still like to know how to achieve something I described via Areas. So I don't have a need for it right now, but I'd still love to see a sample that uses it. Maybe @ardalis knows something, like you already asked.

Thank you!

[2018-12-11 17:46] ardalis commented on #118
Why wouldn't you name your area `products` and make the root page just HomeController + Index.cshtml? Same for Cart. There's no need to repeat the name of the area:
/Areas/Products
       HomeController.cs
      Views
           Home
                 Index.cshtml
/Areas/Cart
       HomeController.cs
      Views
           Home
                 Index.cshtml

Personally that seems like a lot of file

[2018-12-11 17:46] #118 closed

[2018-12-12 14:18] #115 closed

[2018-12-12 16:07] ardalis commented on #111
Based on the docs (and summed up here: https://stackoverflow.com/a/43497310/13729 ) I believe having the `await` within each repository method is appropriate, as it ensures no client of the repository will fire off multiple tasks in parallel.

[2018-12-19 00:58] efleming18 commented on #164
Hey @krs99 - it sounds like you're all set here? Any more questions before I close this issue?

Also, thanks for the reply above @fiseni!

[2018-12-20 17:22] krs99 commented on #164
I haven't more questions

[2018-12-28 15:40] #153 closed

[2018-12-28 18:05] ardalis opened #172 "Demonstrate Routing Parameter Transforms"
Demonstrate Routing Parameter Transforms, perhaps to include product names in their URLs

[2018-12-28 18:05] ardalis opened #173 "Demonstrate new Link Generation feature"
Demonstrate new Link Generation feature using product names in URLs

[2018-12-28 18:06] ardalis opened #174 "Add support for Health Checks"
Add support for Health Checks

[2018-12-28 18:06] ardalis opened #175 "Add a status page showing system health"
Add a status page showing system health

[2018-12-28 18:07] ardalis opened #176 "Consolidate Web and WebRazorPages Projects"
No longer any need to keep Razor Pages in its own "separate but equal" project. Use MVC for APIs and Razor Pages for view-based UI.

[2018-12-30 11:46] MaherJendoubi opened #177 "What is the role of the IAggregateRoot interface?"
Hi Steve,

I wonder if you could explain the purpose of having the following interface :
namespace Microsoft.eShopWeb.ApplicationCore.Interfaces
{
    public interface IAggregateRoot
    { }
}
I consider it as an empty interface since there is nothing to implement.

Thanks & Best Regards,
Maher

[2018-12-30 14:30] hanslai commented on #177
@MaherJendoubi It is a empty interface,  which used as a marker interface.  Please google for marker interface if you need the definition.

[2018-12-31 14:29] JeffreyChan opened #178 "Unable to cast the type 'System.Int32' to type 'System.Object"
System.NotSupportedException: 'Unable to cast the type 'System.Int32' to type 'System.Object'. LINQ to Entities only supports casting EDM primitive or enumeration types.'

This error happened when Orderby has value in BaseSpecification class

![image](https://user-images.githubusercontent.com/5321225/50562038-8107ef80-0d4b-11e9-953b-cfff5d7f5a79.png)

[2019-01-02 14:22] MentorMateYosif opened #179 "Collection was modified. Enumeration operation may not execute."
![collectionwasmodified](https://user-images.githubusercontent.com/8101921/50595774-8596ea00-0eaa-11e9-9dee-5c81b673f2ed.png)

CC: @efleming18

[2019-01-02 20:47] efleming18 commented on #179
Thanks, @MentorMateYosif ! I will address this, this week.

[2019-01-02 20:47] efleming18 commented on #178
Thanks, @JeffreyChan ! I will take a look at this, this week.

[2019-01-02 22:19] MaherJendoubi opened #180 "Missing preposition"
Hi Steve,

In chapter 7, page 58, first paragraph and first sentence, *Filters are usually implemented as attributes, so you can apply them controllers or actions.* should be  Filters are usually implemented as attributes, so you can apply them **on** controllers or actions.

Would you please fix it?

Thanks & Best Regards,
Maher

[2019-01-03 02:09] #179 closed

[2019-01-03 14:09] ardalis commented on #177
It's a marker interface as @hanslai notes. It can be used to communicate design intent to the development team, and to enforce design decisions. For instance, you could modify your repository interface to only work with IAggregateRoot types, rather than any Entity or BaseEntity types, which would make it much easier to enforce the rule that children in aggregates are never persisted individually,

[2019-01-03 14:09] #177 closed

[2019-01-03 17:18] ardalis commented on #180
Thanks, I'll get this fixed during my current editorial pass while updating for 2.2.

[2019-01-04 12:23] MaherJendoubi commented on #180
@ardalis Excuse my ignorance about choosing the correct preposition but I felt that was something missing. Thank you for the correction.

[2019-01-04 15:09] ardalis commented on #180
No, thank you for pointing it out. I just rephrased it slightly since I was already in there. :)

[2019-01-04 15:09] #180 closed

[2019-01-04 16:19] MenaceSan commented on #166
This almost seems the same question as [#165](https://github.com/dotnet-architecture/eShopOnWeb/issues/166). I think the answer might be to use both patterns depending on the purpose. If you are supporting an optional plugin. It might make sense to contain all functionality in a single module Use more of a SOA pattern versus more of a MVC or 3 tiered model. Internally your plugin might even have a

[2019-01-05 11:42] TheDayIsMyEnemy opened #182 "Question: Why ApplicationUser inside Infrastructure?"
Hello,
Isn't ApplicationUser part of the Core project?
Can you explain me please?

[2019-01-07 11:44] JeffreyChan commented on #178
Thanks a lot. I think it's a bug in EF.

[2019-01-10 15:40] BlackFrog1 commented on #158
I don't know this code-base.  Can you provide example of where you are taking about in the code?  And possible some code where the `HashSet<T>` would be more performant.

[2019-01-10 23:45] vertonghenb commented on #158
An example: https://github.com/dotnet-architecture/eShopOnWeb/blob/b123945a01b8c82dfbaea22fefc2a5c06ad8c263/src/ApplicationCore/Entities/BasketAggregate/Basket.cs#L11

[2019-01-11 14:19] ardalis commented on #158
Do you have some example or reference link for this? For small result sets (everything in this application is fewer than 20 items) I don't imagine there is any performance difference to worry about.

[2019-01-11 17:39] #172 closed

[2019-01-11 17:40] ardalis opened #186 "Clean up web.csproj"
Figure out why it has so many files added using things like:
`UpToDateCheckInput`
and
`_ContentIncludedByDefault`

[2019-01-11 17:53] #173 closed

[2019-01-11 18:31] ardalis commented on #175
Add an API health check.
Add a Database health check.

Have the health checks page display JSON? of all the values.

[2019-01-16 10:16] vertonghenb commented on #158
@ardalis indeed, the collections are rather small.
//Closing

[2019-01-16 10:16] #158 closed

[2019-01-18 18:27] ardalis opened #193 "Clean up unused WebRazorPages project from source"

[2019-01-18 18:37] ardalis commented on #131
Updated a bunch of these recently; will get the last shortly.

[2019-01-18 18:37] ardalis commented on #114
Closing - let us know if you still have questions or need to see a change in this sample.

[2019-01-18 18:37] #114 closed

[2019-01-18 18:46] destroyed12 opened #194 "Integration test for login"
Hi,
Is that possible to get a test for user login.

Furthermore, a test that mimic a authenticate user

Thanks!

[2019-01-23 01:37] #117 closed

[2019-01-23 01:55] efleming18 commented on #147
Closing issue as it was fixed in the attached PR

[2019-01-23 01:55] #147 closed

[2019-01-23 01:57] efleming18 commented on #152
Closing this issue as we're now on 2.2 and package listed above does not appear to still be in the solution.

[2019-01-23 01:57] #152 closed

[2019-01-23 01:58] #164 closed

[2019-01-23 02:45] ardalis commented on #131
Updated by https://github.com/dotnet-architecture/eShopOnWeb/commit/88835916d8ab4ab2dc33173e8d5a4d92dace2d48

[2019-01-23 02:45] ardalis commented on #131
README and docs updates are coming soon as soon as the new eBook is reviewed. Closing this now.

[2019-01-23 02:45] #131 closed

[2019-01-26 17:00] efleming18 commented on #193
@ardalis Closing as this seems to be done in master

[2019-01-26 17:00] #193 closed

[2019-01-26 17:16] efleming18 commented on #194
@ardalis Looks like this one was wrapped up in https://github.com/dotnet-architecture/eShopOnWeb/pull/197 and https://github.com/dotnet-architecture/eShopOnWeb/pull/198 ?

[2019-01-27 08:43] schrodog opened #199 "No idea how to start connection"
when I set `docker-compse up` successfully, it says
`Now listening on: http://[::]:80`, but I cannot access both in
localhost:5106 and [::]:80

[2019-01-28 20:23] ardalis commented on #199
I changed the mapping in the docker-compose.yml file to map to 80 and it's working for me now - please confirm.

[2019-01-29 01:05] TheDayIsMyEnemy commented on #182
Hi Steve, can you answer please?
In your books you say: "Business entities that need to be persisted are defined in the ApplicationCore "
What happens in case a business entity have a connection with the ApplicationUser?

[2019-01-30 07:30] jeffhtu opened #200 "User interface leaves a lot to be desired"
I was excited to find this "reference" code, hoping to learn the proper coding techniques. Upon running the app, I have to say I'm somewhat disappointed the UI looks so...amateurish.  The header with stacked "My orders", "My account", "Log out", and the unusually tall footer with text that's not even centered.  I suppose the UI is not the focal point of this sample, but still...

Is there anything

[2019-01-30 14:47] ardalis commented on #200
Cleaning up the header UI has been on the backlog for a while (when logged in, it's way too tall). We would certainly welcome any PRs with UI improvements. Ideally keep them to one thing per PR so we can quickly review and implement them. Thanks!

[2019-01-31 22:18] efleming18 commented on #199
@schrodog Have you been able to try it out yet?

[2019-01-31 22:19] efleming18 commented on #182
@ardalis Do you know the history on this one?

[2019-02-02 16:30] alexanderbikk opened #203 "Questions on general architecture (complex queries)"
Hello! Very nice project, thank you guys! I have read a lot of discussions in comments and clarify many things for myself. But I still have one question related to current structure of project.

What if I need complex queries using Joins and/or GroupJoins for some complex pages for example or reports?
Earlier I had structure like Repos -> Services -> UI. My repos return the IQueryable and then Ser

[2019-02-02 17:19] fiseni commented on #203
The SpecEvaluator indeed doesn't offer the possibility for complex queries. In my own projects I enrich the evaluator with few additional options which I consider crucial. @ardalis if you find them useful I can prepare PR.
- Select option. It's quite useful, especially while querying many-to-many relations.
- AsNoTracking option. It might increase the speed of read-only queries.
- DBSet.Load optio

[2019-02-02 17:45] alexanderbikk commented on #203
I totally agree with you that  we should draw a line between using SpecEvaluator abstraction and re-creating the existing functionality :)
Finally I see your point thanks, @fiseni

[2019-02-03 09:39] alexanderbikk commented on #203
Hi, @fiseni I thought more about SpecificationEvaluator. And have another question can the SpecificationEvaluator will be a bottleneck in big projects? Since we alway call the sepc method GetQuery which build our query. What is your experience of using this pattern?

Also about the complex logic into the Repositories. What if I want to return mixed results like in DTO models from separate reposito

[2019-02-03 11:44] fiseni commented on #203
Hi,

Before I answer, I wanna note that @ardalis is the owner of the project. He has more experience with this structure and can provide you with more detailed and valuable answers. I just liked the project and I try to contribute occasionally, so not necessarily my answers are absolutely right.

Don't get stuck too much to the SpecificationEvaluator. It was just a convenient way to take that logi

[2019-02-03 12:34] alexanderbikk commented on #203
Thanks a lot @fiseni  I got all answers :)

[2019-02-03 13:46] ardalis commented on #203
Sorry to hop in here late. @fiseni did a great job in his last response. A few of my own thoughts to add on here:

1. I usually separate reporting functionality from my application functionality. Reports tend to be read-only and don't tend to need to use the functionality of the domain model at all. Often the most efficient and effective way to gather data for reports is by bypassing the domain mo

[2019-02-03 13:46] #203 closed

[2019-02-03 14:39] fiseni commented on #203
Hi @ardalis

Now, I have a question :) I totally agree with everything, and actually I have been using the same approach for years, I kept reporting separate. But, lately I doubt that idea. No matter how careful you are while designing the domain model and the DB structure, you always end up with some implicit rules, silent conventions how the data should be read or what particular set of data mea

[2019-02-03 15:02] ardalis commented on #203
I'm pragmatic and like to follow what I call [pain driven development](http://www.weeklydevtips.com/010). For me, writing reports with any amount of complexity (even just joins) was always easier for me in SQL than in EF/LINQ. That may just be my background/skills. I understand what you're saying about this bypassing domain rules but in practice I don't recall this ever being an issue for me. Like

[2019-02-03 21:02] ardalis commented on #203
Right, I'm not 100% happy with how CatalogService is working in the existing app to be honest. I kind of inherited the way things are working and I haven't yet refactored it to something I like better. The crux of the problem is what you're describing - where do you put a service whose job it is to produce a UI-specific ViewModel or DTO such that the solution doesn't get cluttered by its dependenc

[2019-02-03 21:35] efleming18 commented on #200
I've started to fix up the header and a few other styles as well.
https://github.com/dotnet-architecture/eShopOnWeb/pull/201
https://github.com/dotnet-architecture/eShopOnWeb/pull/202
Will continue making some improvements this week.

[2019-02-04 09:35] alexanderbikk commented on #203
Hi @ardalis sorry for delay it was midnight in my country  :)

My question was about the second approach that you described "the work in question is executing a custom query and directly returning the result". And yes it helps to me and the solution here is " it must go into the Core project or some similar project."

About the first aapproach I agree with your and I like your solution to put the

[2019-02-09 02:22] ghd258 opened #204 "why Cleaning up separate WebRazorPages proj"
why Cleaning up separate WebRazorPages proj

[2019-02-09 11:51] ardalis commented on #204
Razor Pages is now covered in the single Web project, and is no longer new so the duplication isn’t valuable.

[2019-02-09 11:51] #204 closed

[2019-02-09 11:53] ghd258 commented on #204
Razor Pages is now covered in the single Web project
 where adress？

[2019-02-09 16:45] ardalis commented on #204
For example: https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Pages/Basket/Index.cshtml

[2019-02-10 07:50] JulidaRocks opened #206 "Question: DAL Logic in Web Project"
Why is a DB context and EF migrations in the Web project (data folder)?
Why didn't you place them into the Infrastructure project?
Thanks a lot.

[2019-02-10 08:59] JulidaRocks opened #207 "Question: using separate DB context for Identity"
An additional question:
Why do you use a separate Context for identity?
What are the advantages?
What would be the disadvantages of using on single context for everything?
Thanks a lot.

[2019-02-13 17:39] ardalis opened #208 "Update cover image"
![image](https://user-images.githubusercontent.com/782127/52731698-5e910500-2f8c-11e9-80fa-5be7dee4888b.png)

[2019-02-15 20:52] #208 closed

[2019-02-15 20:53] ardalis opened #209 "Create an Azure Build Pipeline for eShopOnWeb"
- Build everything
- Run all the tests
- Update a badge on README

[2019-02-16 01:06] efleming18 commented on #200
- Added LibMan
- Added compilerconfig so now the sass files will compile down to css
https://github.com/dotnet-architecture/eShopOnWeb/pull/205

[2019-02-16 01:57] vertonghenb commented on #167
@Dekorg yes, exactly!

[2019-02-17 01:57] efleming18 commented on #200
Fixed the footer styling on the login page, checkout page, and any other page with less content on the screen in this PR.
https://github.com/dotnet-architecture/eShopOnWeb/pull/210

[2019-02-17 19:32] pada57 opened #211 "Error when running docker-compose build"
No error when building and running from VS2017 15.9.7
When running docker-compose build from directory where eShopOnWeb.sln is located

[code]

[2019-02-18 09:42] tranvannhatdev opened #212 "Filter and paging are not compatible"
Hi,

I have review this project and this is great. But i have a issue for you.
In the Catalog index page cannot filter than paging
Example:
I filter with .net type result 10 and next page to result 0 or cannot next page.
But in the current that result 2 record because:
when you click next page, filter model is null.
This is project issue or .Net core issue?

I think we request with model, This pag

[2019-02-18 15:43] ardalis commented on #212
@efleming18 can you repro and fix next chance you get?

[2019-02-18 23:00] efleming18 commented on #212
I will take a look @ardalis @tranvannhatdev !

[2019-02-18 23:37] vertonghenb opened #214 "Order does not have a Foreign Key to BuyerId"
Currently there is no FK relationship between an `Order` and a `Buyer`. The code however makes sure this never occurs, but in the database, it's not guaranteed.

https://github.com/dotnet-architecture/eShopOnWeb/blob/be54fd48bb36df8bc0be62400c85e746f98903d4/src/ApplicationCore/Entities/OrderAggregate/Order.cs#L17

[2019-02-20 06:58] devingoble opened #216 "Question: What seperate concerns do IRepository and IAsyncRepository serve?"
Besides the obvious of async, what is the intended use for these two interfaces? They don't overlap functionality completely, and they're used in different places. What's the logic for how and when either of these are intended to be used?

[2019-02-21 16:14] asinelnikov commented on #211
Same error. VS2017 15.9.7. All NuGet packages updated to latest as of 21FEB2019.
Also tried different versions of BuildWebCompiler with no luck.

`PS E:\Projects\dotnet-architecture-monolith\src\Web> docker-compose build
Building eshopwebmvc
Step 1/11 : FROM microsoft/dotnet:2.2-sdk AS build
 ---> d5dbee97f68e
Step 2/11 : WORKDIR /app
 ---> Using cache
 ---> ed5281f973d4
Step 3/11 : COPY *.sln .

[2019-02-22 02:16] efleming18 commented on #200
Fixed the pager styles as well https://github.com/dotnet-architecture/eShopOnWeb/pull/215

[2019-02-23 20:39] #211 closed

[2019-02-23 20:40] efleming18 commented on #211
@pada57 @asinelnikov I have a fix out for this now. The fix is actually very simple. Like you called out, @asinelnikov the issue is in the `BuildWebCompiler` package. There are some Windows-specific commands in it so on Linux containers, it would work. I switched to Windows containers locally and tried it out and sure enough everything worked fine. This is obviously not ideal though. For now, I'm

[2019-02-24 06:57] pada57 commented on #211
Thanks @efleming18  it works fine with current fix
Could you use WebCompiler only for dev in visual studio and run sass cli command when building docker image ?

[2019-02-26 01:19] asinelnikov opened #220 "Issues with Functional Tests"
Hello

I am trying to run Functional Tests and experience following issues:

![functional test](https://user-images.githubusercontent.com/4120215/53379933-96f3f400-3939-11e9-9b34-7dd6c4941d63.png)

3 AccountControllerSignIn errors have following issue in common:

`InvalidOperationException: The view &#x27;SignIn&#x27; was not found. The following locations were searched:
/Views/Account/SignIn.csht

[2019-02-26 01:27] asinelnikov commented on #220
Looks like it is fixed in #218

[2019-02-26 01:27] #220 closed

[2019-03-02 01:14] efleming18 commented on #216
Hey @devingoble - I believe the `IRepository` is just a little dated and hasn't been removed yet. In my opinion we should get rid of the `IRepository` and switch to only the `IAsyncRepository`, moving over any missing functionality. I can work on cleaning this up. Thank you for calling it out!

[2019-03-02 02:07] efleming18 commented on #207
Hey, @JulidaRocks , Separation of concerns is an advantage here. Keeping the identity, authentication, separate gives you the flexibility in the future to re-use it for another API, Web Project, etc. If you create a single DBContext, including identity, and you needed the same identity information in the future you would essentially be giving that application all of the business knowledge of the f

[2019-03-02 19:38] #212 closed

[2019-03-02 19:39] efleming18 commented on #199
@schrodog I'm going to close this one as both @ardalis and I have had success after this changes mentioned in his comment. If you are still having trouble feel free to reply here or open another issue and we'd be happy to help out.

[2019-03-02 19:39] #199 closed

[2019-03-02 19:42] efleming18 commented on #206
@JulidaRocks It looks like @jahbenjah took care of this one. These were just left over from some of the iterations through the project and needed to be cleaned up.

[2019-03-02 19:42] #206 closed

[2019-03-04 09:06] JulidaRocks commented on #207
Thank you @efleming18

[2019-03-04 09:06] #207 closed

[2019-03-07 15:50] andresroingsis opened #222 "Use ThenInclude in SpecificationEvaluator class"
How to use ThenInclude in SpecificationEvaluator class  ?

![image](https://user-images.githubusercontent.com/46057124/53969470-dacbc380-40c6-11e9-99cd-e2c721191b24.png)

[2019-03-07 15:55] ardalis commented on #222
You can't, but you can use "Foo.Bar" notation to include sub-properties. See for instance:
https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/ApplicationCore/Specifications/CustomerOrdersWithItemsSpecification.cs#L11

This is why the string-based includes are supported by the specification.

[2019-03-07 15:59] andresroingsis commented on #222
Great!.. thanks

[2019-03-07 16:10] #222 closed

[2019-03-09 23:59] #216 closed

[2019-03-10 00:11] efleming18 commented on #178
Hey @JeffreyChan - sorry for the delayed response on this. I am actually unable to reproduce this. Would you be able to send me the steps to reproduce it using the UI? Or the steps you took to get this error?

[2019-03-10 00:25] efleming18 commented on #186
I have not been able to find much information as to why these were added during the upgrade, other than one similar question that doesn't appear like it will get an answer. https://github.com/aspnet/Docs/issues/10917
I will cleanup the csproj file and keep an eye out for any other relevant information.

[2019-03-10 00:29] #186 closed

[2019-03-11 00:03] efleming18 commented on #121
Closing this issues as https://github.com/dotnet-architecture/eShopOnWeb/pull/120 has been closed and the docker issues seem to be resolved as updates have come in.

[2019-03-11 00:03] #121 closed

[2019-03-11 00:04] efleming18 commented on #200
Updated the filter button styles https://github.com/dotnet-architecture/eShopOnWeb/pull/225

[2019-03-16 17:36] toronf opened #227 "Question: why using repository in web layer"
Why you're using specifications in Web and Core layer? This does not make much sense to me.
On the one site, you're using the Core layer to abstract the UI part. But there is no "clean" line. Sometimes you call repositories direct from Web layer (e.g. ing BasketViewModelService). And sometimes you're using it in the Application layer.

I've seen the comment "there is no business logic there". That

[2019-03-18 11:42] toronf commented on #227
Or is this just to support both, MVC and Razor Pages? In a razor page view model (cshtml.cs) I don't even need to call the services from Web project. It's okay to directly call the services from the core layer from a razor page?

[2019-03-19 20:10] zHaytam opened #228 "How to avoid referencing the Infrastructure project in the UI"
I'm wondering how would someone go about avoiding to reference the Infrastructure project from the UI (since it's considered better, no?).

Quoting the note from https://docs.microsoft.com/en-us/dotnet/standard/modern-web-apps-azure-architecture/common-web-application-architectures#ui-layer-types:

[2019-03-21 10:56] zHaytam commented on #166
Any news on this?

[2019-03-21 16:36] kesiena115 opened #229 "css/app.css file missing when launched with docker-compose"
Hi,

I'm running this with 2 different methods:

1. with docker on a mac by running
[code]

2. Debugging in Visual Studio.

When I run in Visual Studio (method 2), it works as expected. However, When I use method 1 with docker-compose, the app is unable to find the app.css file. From Google chrome console, I see this additional error:
[code]
Could someone please help me understand why this is happ

[2019-03-21 16:58] kesiena115 commented on #229
I think I've found the problem. To fix this, I had to delete [this line](https://github.com/dotnet-architecture/eShopOnWeb/blob/392b68e89d1ae3afced2e936ba866668816c6581/src/Web/Web.csproj#L12) from Web.csproj. The line is:

[code]

Why was this added?

[2019-03-23 20:08] #229 closed

[2019-03-23 20:11] efleming18 commented on #229
@kesiena115 Thanks for catching that and for the way to fix it. I took care of the PR for it.

As to why it was added, I'm not sure on that. I looked back to the .net core 2.1 branch and it isn't in the Web.csproj file there either so my guess is that it was accidentally added during the .NET Core 2.1 -> 2.2 upgrade. There were other items we saw pop up in the csproj file after the upgrade, and fr

[2019-03-23 21:05] efleming18 commented on #228
Hey @zHaytam - Great question. I'll leave this one for @ardalis to give more insight to. He wrote a blog post a few years ago on this subject if you'd like to look at it and ask any further questions here. https://ardalis.com/avoid-referencing-infrastructure-in-visual-studio-solutions

[2019-03-24 08:22] JeffreyChan commented on #178
Hi @efleming18 , sorry for the delayed response on this.
someone in stackoverflow already help me fix this problem.
you can check this [link](https://stackoverflow.com/questions/53985059/unable-to-cast-the-type-system-int32-to-type-system-object-during-ef-code-fir) out, find more details.

[2019-03-24 10:59] zHaytam opened #231 "Where to put Razor Email Templates?"
Hello,

For now, I've been using Razor Email templates with FluentEmail and I used to put it on the same project, but since I switched to this clean architecture I want to know where to best put them?

Should they be in the Infrastructure alongside the implementation of the `EmailSender`?
The templates are embedded resources so I would need to access the assembly that has them.

Thank you!

[2019-03-24 17:49] efleming18 commented on #178
Awesome @JeffreyChan ! I am glad they were able to help you with the issue. I'm going to close it on this side, but if you have any more questions let us know.

[2019-03-24 17:49] #178 closed

[2019-03-25 09:33] netferret commented on #231
Hi,

The first question I would ask is how often would this email change?, if the answer is often then might want to put this in something that can be changed quickly without a redeployment of the whole solution, another separated service or database(depends on the scale etc).

If its not going to change often then storing in a resource shouldn't cause any problems in my opinion and seems to make

[2019-03-26 21:29] eb-clickfusion opened #232 "Question: How to access a repository from a specification?"
If I wanted to access a repository (or a db context) from within a specification class, how would I achieve this? For example, if I wanted to build a complex `Criteria` which required a trip to the database before a separate query was run.

[2019-03-28 16:04] hanshenp commented on #182
@efleming18 I am curious if you have any news on this one.

[2019-03-30 01:01] efleming18 commented on #232
Hi @eb-clickfusion - I think I would recommend against doing something like that. A specification is something that you should only pass in a result set from a DB query to. Everything the specification needs should be passed in to it.

Do you have maybe a more concrete example for me to consider?

[2019-03-30 01:18] efleming18 commented on #227
Hey @toronf - Good question, this is a tricky one. The services in the Web project, are really "ViewModel" services. What I mean is they are used for building up the ViewModels from data retrieved by either the repositories or another service in Core. It makes sense to keep them here because we're dealing with ViewModels and the ViewModels need to stay in the Web project, we don't want those leaki

[2019-03-30 02:07] efleming18 commented on #214
Hey @vertonghenb - That should be ok to enforce it in code. BuyerId here is not actually a GUID, but rather an email address. We generate a random GUID for a BuyerId, but once the user creates an account it becomes their Email address.

We also want to keep this out in case we ever wanted to move to microservices, decoupling Orders and Baskets, etc; which would also decouple the entities around in

[2019-03-30 18:31] efleming18 commented on #231
Hi @zHaytam - reading over this now. I'm not very familair with FluentEmail, I'm assuming it's [this](https://github.com/lukencode/FluentEmail)? Quickly looking through it, it seems similar to something like [SendGrid](https://sendgrid.com/), which is actually what I was going to use to implement in the repo as an example. Looking even more closely, it looks like FluentEmail has a SendGrid integra

[2019-03-30 18:58] efleming18 commented on #166
Hey @Praveen-Rai @MenaceSan @zHaytam  - have you checked out the [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers) repo? This repo goes about splitting "services" up in to their own projects, as in there is a BasketApi, CatalogAPI, etc.

So in your original question if you wanted to add a payment gateway, or a product rating system, these would become their own microser

[2019-03-30 19:07] efleming18 commented on #160
@alecola @vertonghenb Is this still an issue? Looking through the repositories, I'm not seeing any using `SelectList`.  This is an old issue, and before my time looking at the project so it very well could have been fixed up since then. I will close it for now, but if something is still outstanding, still tag me in this and I can reopen it.

[2019-03-30 19:07] #160 closed

[2019-03-30 19:14] ardalis commented on #182
Sorry I haven't answered this sooner. @yarrgh 's answer is correct, historically. It's also the case that ApplicationUser is not really a concern of the domain in this application. It's not used in any meaningful way, it has no behavior, and the only part of it that's needed is its ID or even just an email address. By keeping it out of the ApplicationCore its coupling to Identity is kept out as we

[2019-03-30 19:14] #182 closed

[2019-03-30 19:30] ardalis commented on #82
I can see adding MediatR as an option, probably side-by-side with existing Razor Page and MVC approaches so that developers can see how it's used and how it compares. I don't think I would add it as a separate project just because that becomes a maintenance issue as we update the project for new versions of .NET.

AutoMapper we could add, but I don't think it would add a lot of value. There's real

[2019-03-30 19:30] #82 closed

[2019-04-01 09:04] eb-clickfusion commented on #232
Hi @efleming18, thanks for the response. I need to filter records in a table based on user access. My table has a `RoleId` field so I can pass this through to the specification and do `x => x.RoleId == roleId` but it needs to be more complex than that. Roles are hierarchical so I really need to find out which roles the user has access to first (via the db), then include that in my specification. F

[2019-04-01 14:38] ardalis commented on #232
Then get the array of role IDs first, and pass *that* into the specification constructor.

[2019-04-01 14:54] eb-clickfusion commented on #232
Thanks @ardalis.

If I need to pass the array of role IDs in to a number of different specification constructors, I guess I can create a `GetRolesForUser()` method on a UserRepository (or UserRoleRepository) and call that before running the specification constructor?

[2019-04-01 15:05] ardalis commented on #232
Sure, and that's also probably a very cacheable call. Caching it may make up for the fact that otherwise it could be more expensive since it'll be two calls instead of a single (complex) JOIN query that you might otherwise have been able to run.

[2019-04-01 16:59] eb-clickfusion commented on #232
Great, thanks. I'll take a look at your CachedRepository blog post.

One final question - where would be best to call the `GetRolesForUser()` method from? I would need to have access to the current user identity and the db context. Perhaps `EfRepository` if I inject the identity?

[2019-04-01 17:11] ardalis commented on #232
You shouldn't need to inject "the identity" but rather just pass that method the userId (probably a GUID).

You could call it from wherever you were going to call the method with your complex criteria. If that was from, say, a controller action, then I would probably recommend wrapping that up into a service if only to keep your controller smaller and your code more testable and potentially reusab

[2019-04-01 17:11] #232 closed

[2019-04-03 00:25] efleming18 commented on #228
I'm going to close this @zHaytam - if you have more questions though, let us know.

[2019-04-03 00:25] #228 closed

[2019-04-03 13:41] tidyui opened #234 "Make example cross-platform"
The example uses `LocalDb` as development which is only a valid option on Windows. Using `SQLite` as development database will work on all platforms.

[2019-04-04 20:34] dyardyGIT opened #235 "ListAllRegisteredServices(app, linkGenerator) causing default route not to be hit"
I liked this ListAllRegisteredServices(app, linkGenerator); approach to show registered services.

I added it in for development environment.

Now when i try to execute default route /home/index i get a 404

            app.UseMvc(routes =>
            {
                routes.MapRoute(name: "default", template: "{controller=Home}/{action=Index}/{id?}");
            });

Not sure why I get 404 (i

[2019-04-05 02:01] efleming18 commented on #235
Hey @dyardyGIT - do you have a link to your repo (if it's public)? So I can try and take a look there.
If not, would you mind posting your full Startup.cs class?

For this solution, going to `/home/index` would also return you a 404, that's because we don't have a Home controller to load an index view from. But if you were to go to something like `/basket/index`, it would work.

Is your issue that

[2019-04-05 02:29] dhulwells commented on #234
Can I take this one?

[2019-04-05 02:37] efleming18 commented on #234
@dhulwells Sure! Feel free. If you do end up working on it and get a PR out there, link it to this issue and/or tag me so I can take a look.

[2019-04-05 07:40] tidyui commented on #234
I was thinking about doing it myself, but as it requires throwing away and recreating the migrations I wasn't sure how you wanted to handle it.

[2019-04-05 15:54] dyardyGIT commented on #235
Sorry if I was unclear.
I liked the idea of this method ListAllRegisteredServices and dropped it in my solution. I do have a home/index page and it runs fine if I do not call ListAllRegisteredServices.

If I uncomment ListAllRegisteredServices(below) I can get to /allservices (however at that point i can't get to my home/index) page, due to the 404

I believe it has something to do with app.Map in

[2019-04-05 20:59] ardalis commented on #235
Nice, glad that works!
Note that the ListAllRegisteredServices stuff is also now in its own nuget
package:
https://www.nuget.org/packages/Ardalis.ListStartupServices/

On Fri, Apr 5, 2019 at 11:54 AM dyardyGIT <notifications@github.com> wrote:

--
Steve Smith
http://ardalis.com | http://twitter.com/ardalis

[2019-04-06 01:11] efleming18 commented on #235
@ardalis @dyardyGIT I updated the repo to use that NuGet package here: https://github.com/dotnet-architecture/eShopOnWeb/pull/236

[2019-04-06 01:13] efleming18 commented on #235
I'm going to close this issue for now, seems like you're good to go @dyardyGIT
and we were able to also do a little refactoring on our side. Win - win! :)

[2019-04-06 01:13] #235 closed

[2019-04-06 01:19] #214 closed

[2019-04-06 01:22] efleming18 commented on #227
I renamed the `CatalogService` to `CatalogViewModelService` [in this PR ](https://github.com/dotnet-architecture/eShopOnWeb/pull/233)

Hopefully this helps! I'm going to close this issue.

[2019-04-06 01:22] #227 closed

[2019-04-06 01:24] #166 closed

[2019-04-07 19:06] gsharma239 opened #238 "LocalDB not working on Kubernetes"
First off, Thanks for building this project !! its been very helpful to me

I am running this project using docker-compose and it works fine when I try it out on my local machine but when I run the same on Kubernetes cluster ( both my local machine and kubernetes cluster run on ubuntu ) I am getting errors :

I am using the same image that I've built on my local machine ( using docker-compose ) an

[2019-04-08 08:53] zHaytam commented on #231
Yes, it helps, thank you both!

[2019-04-08 08:53] #231 closed

[2019-04-08 13:12] ardalis commented on #167
Razor pages allows better organization by feature than Controllers + Views + Models in separate folders do, and this project uses Razor Pages to that end. It also uses Controllers primarily so that it can demonstrate to developers new to the platform how both styles work and how they can both operate side-by-side within a project. This is not that unusual, especially for projects that must serve b

[2019-04-08 13:12] #167 closed

[2019-04-08 13:37] motowilliams commented on #167
That's truly unfortunate. The number of production applications based off of "samples" is fairly high.

[2019-04-08 13:59] ardalis commented on #167
Well, sure, base it off the sample and then use the bits that work best for you. Another example technology I'd like to demonstrate in a future version is using MediatR, but again it would be side-by-side with approaches that don't use it. We would make sure to add comments in the code as well as coverage in the eBook to call out why this was done and what the various options and tradeoffs are.

[2019-04-09 12:16] newtonsheikh commented on #234
even better may be a mongoDB or CosmosDB one.

[2019-04-09 13:27] ardalis opened #239 "Show Mediatr Use with Controllers or Pages"
Demonstrate how to use the Mediatr package/pattern to simplify logic in Controllers/Pages.

[2019-04-10 14:49] TheDayIsMyEnemy commented on #182
Hi and thank you for the answer.
If it's possible, could you give some small example about how to correctly implement the idea you gave.
Thanks! :)

[2019-04-10 19:55] ardalis commented on #70
![image](https://user-images.githubusercontent.com/782127/55909061-0996f700-5ba9-11e9-8924-4b02b61fe9d2.png)

[2019-04-10 19:57] ardalis commented on #70
![image](https://user-images.githubusercontent.com/782127/55909174-5549a080-5ba9-11e9-8364-5ac9b5d4c78e.png)

[2019-04-10 19:58] ardalis commented on #70
![image](https://user-images.githubusercontent.com/782127/55909229-76aa8c80-5ba9-11e9-8dab-5c48580f69ad.png)

[2019-04-11 00:20] efleming18 commented on #238
Hey @gsharma239 LocalDb is only available on Windows operating system, so getting errors while trying to use LocalDb on Linux isn't surprising. When you run it locally and it works, do you have it configured to use the InMemoryDb or Sql Server?

Someone actually just raised this as [an issue](https://github.com/dotnet-architecture/eShopOnWeb/issues/234) recently to move away from LocalDb because o

[2019-04-11 10:00] gsharma239 commented on #238
Thanks for your reply @efleming18.

When I build using docker-compose on a ubuntu host it works fine but when I try to deploy on kubernetes ( cluster on ubuntu ) it fails sometimes. Also, we built and check-in the image in a repository that image also works on some deployments while fails on other so I am not sure if really a platform or something that is not done / missed out during the image bui

[2019-04-11 15:24] TheDayIsMyEnemy commented on #182
Do you mean to just keep the UserId without navigation property to User (cause it's not possible without reference to Infrastructure) and just use it like that? without any relationship between User and Customer in the db?

[2019-04-11 15:34] ardalis commented on #182
Yes, exactly. There's technically nothing to prevent an invalid UserId string being assigned to `Customer` but that's what unit tests would help with. Keeping them less tightly coupled also allows the auth functionality to be move/replaced/modified as needed without impacting the domain. You can see an example of pulling auth completely out into a separate service in the eShopOnContainers solution

[2019-04-11 15:40] TheDayIsMyEnemy commented on #182
Okay thanks for the clarification :) I will look at eShopOnContainers solution.

[2019-04-12 01:41] efleming18 commented on #238
@gsharma239 Interesting. I wouldn't expect it to work at all on Ubuntu. Running locally, if I'm using the `ImMemoryDatabase` in the container (using `docker-compose up`) it works, which is expected.

In the Startup.cs, you can configure it - which it sounds like you already found. If you comment out, `ConfigureInMemoryDatabases(services);` and uncomment `ConfigureProductionServices(services);` it

[2019-04-12 12:39] chkjamil opened #240 "Question: how to use GroupBy in specification?"
Hi,
I wanted to use group data at database level by using Specification, so how could I use GroupBy clause (in Specification) to achieve this?
Regards,

[2019-04-13 15:15] ngAtesz opened #241 "UriComposer is not used in BasketService"
Although IUriComposer is injected in the constructor of `ApplicationCore/Services/BasketService.cs`, it isn't used in the class.

[2019-04-19 15:06] efleming18 commented on #241
Thanks for the heads up @ngAtesz - I am addressing it in https://github.com/dotnet-architecture/eShopOnWeb/pull/242

[2019-04-19 15:08] #241 closed

[2019-04-19 16:36] efleming18 commented on #234
@dhulwells Any update/progress here? If not, I'm happy to take a crack at it too.

[2019-04-19 16:36] #238 closed

[2019-04-28 20:55] efleming18 commented on #240
Hey @chkjamil - I created [this PR](https://github.com/dotnet-architecture/eShopOnWeb/pull/243) to see if this is what you're after? In this PR, I added a GroupBy specification to the catalog filter so it would be easy to see if it was working or not. After adding this, the first page of the catalog looks like this.
![image](https://user-images.githubusercontent.com/1899987/56869928-acd37300-69d5-

[2019-04-29 03:23] chkjamil commented on #240
Hi @efleming18,

Thank you for your response. And this is exactly what I was looking.

Regards,

[2019-04-29 03:23] #240 closed

[2019-05-01 13:53] zHaytam opened #245 "Services in ApplicationCore that need almost the same fields as a long ViewModel"
Hello,

I have a pretty full ViewModel consisting of fields that users needs to input(7 or 8) and I wanted to create a service that handles this.

Is it okay to have a method in my service that expects 7-8 arguments or is it too long?
Should I create a struct between the controller (viewmodel) and the service?

Thank you!

[2019-05-01 14:57] ardalis commented on #245
More than 2-3 parameters/arguments is where I start to consider refactoring. More than 7 or so and it's pretty definite. It's even a default rule for NDepend at that point: https://www.ndepend.com/default-rules/NDepend-Rules-Explorer.html?ruleid=ND1004#!

How to refactor would depend on where the service lives. If it lives in the web project, then you could just have it work directly with the View

[2019-05-01 15:16] zHaytam commented on #245
If I may (and this is I think a seperate question):
We know that the ViewModel has validation attributes, but if I pass the ViewModel's properties to a Service, do I need to re-validate them or just trust it?

[2019-05-01 23:37] efleming18 commented on #245
In my opinion, most of the time I would trust it. If you don't, then you start having to maintain your own validation on top of what is already provided for you in the validation attributes. It forces you to maintain two sets of validation, which could actually cause problems/bugs if you change it in one place and not the other.

[2019-05-04 19:41] #245 closed

[2019-05-12 01:14] efleming18 commented on #200
I believe all of the above changes improved the UI to the point where any further updates should be new, separate issues.

[2019-05-12 01:14] #200 closed

[2019-05-20 00:53] mdrewanz commented on #48
@CESARDELATORRE , in order to use BLAZOR, would it be the same approach as the monolithic or more towards the one used in eShopOnContainers?

[2019-05-20 09:56] doggy8088 opened #249 "What is /k8s/helm folder?"
I'm reading [Install eShopOnContainers using Helm](https://github.com/dotnet-architecture/eShopOnContainers/wiki/10.-Deploying-to-Kubernetes-(AKS-and-local)-using-Helm-Charts#install-eshoponcontainers-using-helm). It said **All steps need to be performed on `/k8s/helm` folder.**. There is no context about what's `/k8s/helm` folder.  Also, I have no idea how to get the `deploy-all.ps1` file. Does a

[2019-05-20 13:03] doggy8088 commented on #249
Oops! Wrong repo. It's on [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers).

[2019-05-20 13:03] #249 closed

[2019-05-20 13:57] doggy8088 opened #250 "Wiki image wrong on Troubleshooting at 05 (Wiki)"
Here at [Troubleshooting](https://github.com/dotnet-architecture/eShopOnWeb/wiki/05.-Running-locally-on-a-Windows-Container-from-VS-2017#troubleshooting)'s screenshot is wrong.  The screenshot should shows `Switch to Windows containers`.

![image](https://user-images.githubusercontent.com/88981/58027017-4eb82c80-7b4a-11e9-84e8-0a57ae280815.png)

[2019-05-27 11:43] jvilimek opened #254 "When published not all CSS are included"
After I publish the site to my own app service (web project), there are missing CSS files included in the shared layout view = the site is missing images, feels ugly etc.

* download the sources, build&run locally, setup DB etc. It's working fine.
* but once I **publish** the **Web** project (from within Visual Studio -> Publish) the layout of the site is broken

I have find out in \src\Web\Views\

[2019-05-27 11:59] jvilimek commented on #254
I have already created a fix for this, see https://github.com/dotnet-architecture/eShopOnWeb/pull/255
(not sure, how to associate it)

[2019-05-29 01:04] efleming18 commented on #254
Resolved with the merged PR above. Thanks @jvilimek

[2019-05-29 01:04] #254 closed

[2019-05-29 01:47] efleming18 commented on #250
Thanks @doggy8088 - I've created a new image and will update the Wiki doc.
![image](https://user-images.githubusercontent.com/1899987/58523377-3b344380-8192-11e9-822e-550a23a4b6d5.png)

[2019-05-29 01:47] #250 closed

[2019-05-29 20:22] ardalis opened #257 "Fix EF Configuration for Data Types"
Fix these warnings:
warn: Microsoft.EntityFrameworkCore.Model.Validation[30000]
      No type was specified for the decimal column 'UnitPrice' on entity type 'BasketItem'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values using 'HasColumnType()'.
warn: Microsoft.En

[2019-06-01 01:52] #257 closed

[2019-06-10 20:30] storms-lab opened #260 "BasketItem is not an aggregate, so it should not have a repository"
BasketItem is not an aggregate, so it should not have a repository. The need for the BasketItem repository could be removed by changing the implementation of DeleteBasketAsync.

![image](https://user-images.githubusercontent.com/51679664/59224505-8ee45b00-8b9c-11e9-80c5-fd4310458db1.png)

[2019-06-10 20:34] storms-lab opened #261 "IAsyncRepository does not enforce <T> being an IAggregateRoot"
`where T : BaseEntity` should become `where T : BaseEntity, IAggregateRoot` ?

![image](https://user-images.githubusercontent.com/51679664/59224827-4bd6b780-8b9d-11e9-9c39-e0d809f62415.png)

[2019-06-10 21:28] CESARDELATORRE commented on #260
I agree on that. Only Aggregate-Root should have related repository classes.

[2019-06-11 03:24] ardalis commented on #260
Yeah, we were looking at it together in my workshop today :). We'll get it updated.

[2019-06-14 00:32] w152013768 opened #263 "Why add the route named "identity"?"
Why you need to the route named "Identity"? The Project does not include a controller structure with a Identity prefix。

[2019-06-16 01:25] #260 closed

[2019-06-16 01:31] efleming18 commented on #261
@storms-lab Totally agree here. I've [started to address it](https://github.com/dotnet-architecture/eShopOnWeb/pull/264) by first removing the BasketItems repository as you pointed out in https://github.com/dotnet-architecture/eShopOnWeb/issues/260.

Enforcing this exposes a few more (CatalogType, CatalogBrand, CatalogItems) that need to be addressed as well. I would like to take an iterative appr

[2019-06-19 01:24] efleming18 commented on #263
Hey @w152013768 are you referring to these lines? https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Startup.cs#L239-L241

[2019-06-19 09:01] w152013768 commented on #263
yes, The Project does not include a controller structure with a Identity prefix, why add the route named "Identity". I also have another question: except for the identity under the Area ,why add the "AccountController" in the Controllers, What is the relationship between them?  @efleming18 thanks for help。

[2019-06-20 01:48] efleming18 commented on #263
I am going to take a deeper look @w152013768 but it does look like those lines in the Startup can likely be removed. They are most likely just left over from upgrading to .NET Core 2.2 as well as consolidating the two projects in to one a few months back.

Similar story with the "AccountController" and the Identity under Areas. Right now we're using the [Microsoft.AspNetCore.Identity NuGet package

[2019-06-20 08:01] w152013768 commented on #263
@efleming18 ,thank you for your patient answer, it is very helpful for me! For the first time I actually having got the charm of open source.

[2019-06-21 01:23] efleming18 commented on #263
No problem at all @w152013768, I'm happy to help. To keep you up to date, this is the [first PR](https://github.com/dotnet-architecture/eShopOnWeb/pull/267) I've created to address what you've pointed out here. What I'm doing in this PR is using the scaffolding provided by the Identity package I mentioned above.

If you're interested in seeing what all is provided in the scaffolding:
- Right click

[2019-06-21 02:49] w152013768 commented on #263
hah, Thanks again.

[2019-06-22 20:14] efleming18 commented on #263
The last bit, @w152013768, was to cleanup the AccountController, which I did [here](https://github.com/dotnet-architecture/eShopOnWeb/pull/268) for reference. I'm going to close this issue now, but if you have any other questions, please let me know.

[2019-06-22 20:14] #263 closed

[2019-06-24 02:21] w152013768 commented on #263
@efleming18, I have a suggestion for the project. Before login into the account, I put some things into the basket, but when I have logined or register an account, the basket is empty, Isn't there a shopping cart which I have add to the basket before logined ?

[2019-06-26 23:26] efleming18 commented on #239
This is finished in [this branch](https://github.com/dotnet-architecture/eShopOnWeb/tree/mediatr-example)

[2019-06-26 23:26] #111 closed

[2019-06-26 23:27] #239 closed

[2019-07-10 02:11] MukundPrakash opened #270 "General Architecture: WebAPI Post method"
Thanks for very helpful code.
I am using it for developing one Web API. When I want to Post data should I 1. Create a service in core and call it from controller?
2. Should it be OK if Expose my Core Entity in controller like below:
 [HttpPost]
        public async Task<IActionResult> AddNewTask(TaskEntity object)
{
var taskModel = await _taskServiceCore.CreateTaskAsync(object)
}
I am learning to

[2019-07-10 12:43] ardalis commented on #270
1. It's up to you if you want to use a service you call from the controller, or if you want to use a repository directly within the controller.
2. Ideally you should not expose your domain model entities to the Internet as API arguments or MVC model binding parameters. The reason is that you may allow an attacker to set properties on the types that you hadn't meant to expose, which could compromis

[2019-07-10 15:56] expressiveco opened #271 "Optimization Proposal - Reusing the query of specification"
For pagination, i need to get the total number records before applying the pagination. So, i do not want the query rebuilt each time; for counting the total number of records and fetching the records for the current page. Thus, i designated the EfRepository.ListForPaging. What do you think about it?

[code]
 Usage
[code]

[2019-07-11 01:04] MukundPrakash commented on #270
Thanks @ardalis for giving me DTO pointer. I am exploring DTO and seems like a good fit. If possible please add REST Web API POST operation with DTO using any mapper. That will be very helpful.
Thanks for quick reply. Appreciated.

[2019-07-11 08:13] expressiveco commented on #271
I revert ```ISpecification<T>.IsPagingEnabled``` to read-only so i made it through ```SpecificationEvaluator<T>.GetQuery()``` to turn off paging.
So, only following changes required for ``` EfRepository<T>.ListForPaging()```.

[code]

[2019-07-11 13:44] ardalis commented on #270
Can you create a new issue with what you'd like to see an example of, and we'll try and include it? Closing this one now since I think your questions have been answered. Thanks!

[2019-07-11 13:44] #270 closed

[2019-07-13 01:08] efleming18 commented on #261
This PR closes this issue: https://github.com/dotnet-architecture/eShopOnWeb/pull/273

[2019-07-13 01:08] #261 closed

[2019-07-14 00:25] efleming18 opened #274 "Add "Continue Shopping" link/button to the Cart UI"
I think it would improve the Cart UI to include some sort of "Continue Shopping" link or button to the page. Currently, if you wanted to add more items to your cart you would need to either go back, or click on the logo to go back to the home page.
![image](https://user-images.githubusercontent.com/1899987/61177820-224de900-a5ac-11e9-8cbb-94ace0ba8e22.png)

[2019-07-16 00:18] #274 closed

[2019-07-16 11:27] fiseni commented on #271
Hi @expressiveco.
You are right, to get the total numbers you need separate DB hit. But, are you sure that in your case it happens all within one hit? It seems the following line will generate hit anyway.

`var totalCount = query.Count();`

If your intentions are not to save DB hits, but just to make the code cleaner in the caller, then we might just add additional method in the EfRepository which

[2019-07-16 12:25] fiseni commented on #271
I read your comments once again. Obviously, your concern is building the query twice, not the the round trip to DB. Building the query (as it is done here), is just an in-memory process, and won't affect too much. But, in some super large apps yea it might have an impact. I got your point, I just have few notes
- The method should be async (we should use .CountAsync() instead of Count()). The IRep

[2019-07-17 01:15] efleming18 commented on #271
Hey @expressiveco - thanks for the interesting question! And thanks to @fiseni for a reply there. I concur with what fiseni's comments are. I know this is more of a question rather than a pull request but I do believe this would be a performance optimization, although, in an app as small as this sample, we wouldn't see the benefits. In a much larger application, we could begin to see that.

It was

[2019-07-19 16:39] efleming18 commented on #271
@expressiveco Is there anything else you need on this? Or is it alright if I close the issue?

[2019-07-20 08:11] expressiveco commented on #271
Thanks for your comments. I just want to know if its fine in terms of architecture or OOP.

[2019-07-23 15:53] Praveen-Rai commented on #166
@efleming18 Sorry i am responding so late, actually i gave a thought on creating micro-services architecture. But creating a service isn't the right choice for everything. Taking my case, i want to build an open-source eCommerce platform with an simple procedure to let end-users install payment gateway of their choice. The expectation is that the gateway integration ( plugin ) will be either devel

[2019-07-25 00:47] efleming18 commented on #271
@expressiveco I don't see why that would be a problem in terms of general architecture or OOP! :)

[2019-07-25 00:47] #271 closed

[2019-07-28 02:40] JohnCOsborne opened #277 "Capitalize ISpecification<T>'s isPagingEnabled Property"
A very minor detail but it caught my eye. I'm assuming you want it to be capitalized.

[2019-07-28 19:33] Marius-Kazlauskas opened #278 "Maybe moving ViewModels to ApplicationCore is good idea?"
I want to discuss with you, what do you think about moving ViewModels and related services from Web project to ApplicationCore project?

I see some benefits:
- we can add new web projects like blazor and reuse the same ViewModels and mapping logic
- we can add some other applications like console application for example periodically import some products from text file and then we can reuse the sam

[2019-07-29 02:54] ardalis commented on #278
I don't generally like to put ViewModels in Core/ApplicationCore because they're UI concerns, not domain concerns. There is some utility in putting them into a project from which they can be shared, though, sometimes. In such cases I will usually add a 4th project (in addition to core/infrastructure/web) which is an Application layer. It would include ViewModels (and potentially API models, etc.)

[2019-07-29 03:58] ardalis commented on #277
Agreed. Want to do a quick PR?

[2019-07-29 05:19] #278 closed

[2019-07-29 06:03] lesair opened #279 "Unneeded dependency to Microsoft.AspNetCore.Mvc on the UnitTests project."
The UnitTests project has an unused dependency on Microsoft.AspNetCore.Mvc.

This project should not have ASP.NET framework dependencies since unit tests are not concerned with testing logic that depends on frameworks.

[2019-07-29 07:12] JohnCOsborne commented on #277
Sure thing.

Get Outlook for Android<https://aka.ms/ghei36>

From: Steve Smith
Sent: Sunday, July 28, 11:58 PM
Subject: Re: [dotnet-architecture/eShopOnWeb] Capitalize ISpecification<T>'s isPagingEnabled Property (#277)
To: dotnet-architecture/eShopOnWeb
Cc: John Osborne, Author

Agreed. Want to do a quick PR?
—
You are receiving this because you authored the thread.
Reply to this email directly,

[2019-07-29 13:08] lesair opened #281 "Typo in identifier: "Configurate"."
There is a typo in:

[`Microsoft.eShopWeb.Infrastructure.Data.CatalogContext.ConfigurateCatalogItemOrdered`](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Infrastructure/Data/CatalogContext.cs#L44)

It should be
* **Configure**CatalogItemOrdered

instead of
* **Configurate**CatalogItemOrdered.

[2019-07-29 16:42] escalonn commented on #279
Maybe related to [this not-documented-everywhere-it-should-be item](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2#test-app-prerequisites), but still not doing it quite right.

[2019-07-29 16:58] lesair commented on #279
@escalonn, the reference you sent is for integration tests, but this issue is about unit tests.

[2019-07-29 18:17] escalonn commented on #279
It does concern unit tests also - that's what I mean about not documented everywhere it should: dotnet/docs#13455

[2019-07-29 18:46] #281 closed

[2019-07-29 20:36] lesair commented on #279
@escalonn, thank you for the clarification.

[2019-07-29 20:36] #279 closed

[2019-07-30 00:26] efleming18 commented on #277
Closed by: https://github.com/dotnet-architecture/eShopOnWeb/pull/280

[2019-07-30 00:26] #277 closed

[2019-07-30 16:02] jbrinkman opened #283 "IAppLogger seems redundant"
The current implementation of IAppLogger seems unnecessary unless the sole purpose is to limit the logging API. ILogger is already part of the basic stack and fully abstracts any specific providers. My specific providers (Serilog in my case) are configured in the web tier during startup and after that I can just use ILogger everywhere else (including in my tests) using DI.

Is there some benefit t

[2019-07-30 16:46] fiseni commented on #283
In case you use only .net core web projects, then yes it's redundant, and most of the providers can be added on the fly. But, what if on same base code you use winform/wpf ui project targeting .net framework?

I guess here it is added just as an example construct, what u might do if u need it (not that it's really necessary in this case).

[2019-07-30 17:23] jbrinkman commented on #283
Fair enough. Is that worth adding some code comments? I always worry when viewing sample apps that the underlying reasons for a particular implementation detail are unknown which leads to cargo culting.

[2019-07-30 18:55] fiseni commented on #283
Honestly, I'm not even sure if that's the real reason, it was just my assumption. The project maintainers might clarify the real intentions. I personally always use adapters for logging (microsoft, log4net) and DI (microsoft, autofac, ninject). But thats based on my use cases. Usually I work on several UI projects on top of same code base, so it's totally worth it.

[2019-07-31 01:23] ardalis commented on #283
This blog post sums up the value in having your own interface that you own for logging:
https://ardalis.com/testing-logging-in-aspnet-core

[2019-08-02 00:05] efleming18 commented on #283
Any other questions or concerns on this one @jbrinkman ?

[2019-08-08 08:04] Kleinhummel opened #284 "What should I return from my core services?"
Hey,
i am trying to implement the clean architecture in my own project, but at the moment i don't get any further. I don't know what i should return from my Core Services. I saw that you nearly always return just a Task or a primitive type from your services, but what should i do if i want to return a more complex type?

**Example:**

From my controller i am calling a core service and from the cor

[2019-08-08 11:33] Urgen-Dorjee opened #285 "Error creation of database on docker sql server container"
I have been getting issue with setting up docker container, this project does not seem to have guidance toward setting up docker container and docker file are not even updated. I have tried to setup with the following docker files but it does not create or seed Identity database:-

WebMVC docker file:-

[code]
docker-compose.yml file

[code]
docker-compose-override.yml file:-

[code]
appsettings c

[2019-08-08 13:06] ardalis commented on #284
Core services usually return domain objects (entities, aggregates, maybe value objects) or primitives. Usually the application layer (often combined with the UI layer) is responsible for translating between domain types and UI types (viewmodels, API models, other DTO types). Some teams will put common DTOs in the Core project so they can easily use them from anywhere in the application. The downsi

[2019-08-10 00:12] #283 closed

[2019-08-10 05:53] Urgen-Dorjee opened #286 "Foreign Key Generation"
I would like to understand following two tables structure and how "OrderId" foreign key is generated:-

Order Table:-

[code]
OrderItem Table

[code]

Order Entity Configuration

[code]
Order Items Entity Configuration

[code]
OrderItems Table:-

[code]

Please help me to understand how **OrderId(Foreign Key)** has been added into the table structure. I have gone through the above codes but could

[2019-08-10 12:11] jbrinkman commented on #283
Thanks for the post @ardalis . I am very much against cargo cult programming and like to know why I am implementing something rather than just assuming the feature is the right one in every situation.

[2019-08-10 17:01] ardalis commented on #283
Sure thing. If it weren't for the fact that logging in ASP.NET Core is heavy on extension methods, making it difficult to mock, it wouldn't have caused enough pain to have been worth the adapter, IMO. But when actually trying to do it, it was way easier with an interface you yourself own.

[2019-08-11 19:36] Kleinhummel commented on #284
Ah ok, your answer was already quite helpful. But for me, a few things are still a bit unclear.
Do not the core services belong to the application layer? ([Source](http://www.atrenko.com/blog/2018/05/03/clean-architecture/))
I have read many articles about clean architecture now, but I'm not sure how the patterns of the architecture were implemented in this project...So it would be really nice if

[2019-08-12 11:51] Edgias opened #287 "Specification not returning results"
I am developing a project using this architecture as an example. I have encountered an issue where my specification is not returning data. I have an entity LeadSource which has two properties Name and Description. I created a LeadFilterSpecification where a search string may be supplied. In the event that its null or empty I want to return data based on the pagination parameters supplied.

`public

[2019-08-12 12:36] gabor-rajczi commented on #287
Hello!

Try invert the condition on searchString.
`ls => (string.IsNullOrEmpty(searchString) || ls.Name.ToUpper().Contains(searchString))`
Because You want all entity when the searchString is null or empty.

[2019-08-12 23:53] efleming18 commented on #285
Hey @Urgen-Dorjee - which branch are you on here? The [latest docker-compose.yml](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/docker-compose.yml) doesn't depend on SQL Server and would be using an In-Memory database when running locally from a container. [The Dockerfile](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Dockerfile) for the Web project also doe

[2019-08-13 00:03] efleming18 commented on #287
Thanks for the quick reply on this @gabor-rajczi !

@Edgias Let us know if that does the trick for you!

[2019-08-13 01:26] Edgias commented on #287
It worked. Thanks @gabor-rajczi. I was following the CatalogFilterSpecification though its an int. [https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/ApplicationCore/Specifications/CatalogFilterSpecification.cs](url). I thought it will work the same.

[2019-08-13 06:03] Urgen-Dorjee commented on #285
@efleming18 I am in master branch and all of the branches  that i have explored look same in terms of docker file settings, nothing much talk about the SQL Server. However i have gone through some of commits and found about the sql settings somewhere but that did not worked for me.  Dockerfile setttings what you can see above conversation are generated by visual studio when you add container Orche

[2019-08-13 12:25] efleming18 commented on #287
Great to hear @Edgias!
Thanks again, @gabor-rajczi!

[2019-08-13 12:25] #287 closed

[2019-08-14 22:33] trycatchdonothing opened #288 "Razor Page vs. View"
Just curious, why is the Login page a Razor page but the Register page is a view?

[2019-08-15 00:19] efleming18 commented on #288
Hey @trycatchdonothing - the [Register view](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Views/Account/Register.cshtml) actually needs to be removed as it's no longer the one that is use. Since we're using the [Microsoft.AspNetCore.Identity NuGet package](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual

[2019-08-15 00:23] efleming18 opened #289 "Remove the Register view and Replace it with the scaffolded one"
The [Register view](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Web/Views/Account/Register.cshtml) is no longer being used and should be removed.

The one that is in use is the one from the [Microsoft.AspNetCore.Identity NuGet package](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio).

We should add

[2019-08-15 00:24] efleming18 commented on #288
I've created an issue for someone to adjust this.
https://github.com/dotnet-architecture/eShopOnWeb/issues/289

I will close this issue shortly, but please feel free to ask any additional questions if you have them.

[2019-08-15 00:30] trycatchdonothing commented on #288
Thanks, I actually tried the scaffolding identity UI and it works great. I'm still a little confused about how Razor pages, such as a login page for instance, can be reused in multiple contexts, i.e. a modal window or a full page. Do Razor pages work at all as partials, or no?

[2019-08-16 00:52] efleming18 commented on #288
Yep! You can use Razor pages as partials. Check out [this article](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/partial?view=aspnetcore-2.2) for some more information!

[2019-08-16 02:00] efleming18 commented on #286
Hey @Urgen-Dorjee - good question. The short answer is it's a [shadow property](https://docs.microsoft.com/en-us/ef/core/modeling/shadow-properties) in EF.

Since the `Order`  model has a reference to the `OrderItem` model, EF Core creates the relationship in the database automatically for you without having to explicitly put `OrderId` on the `OrderItem` model. The relationship is in the way of th

[2019-08-17 00:52] #288 closed

[2019-08-17 00:59] efleming18 commented on #285
Hey @Urgen-Dorjee - would you be able to push up a branch in to a forked repo for me to take a look at and try? From the code snippets your approach seems to make sense. If you can push it up, maybe I can figure it out by trying to run it locally.

[2019-08-17 01:28] efleming18 commented on #284
Hey @Kleinhummel - hopefully I can help here as well.

1. Reading over that post, it does sound like the User Case interactors are described to be what I would call the Core services.
2. Typically you're going to want to refrain from calling the infrastructure service directly from the controller and use a service from Core instead. There is usually going to be some sort of business logic that is

[2019-08-17 06:57] Urgen-Dorjee commented on #285
Greetings @efleming18 , Thank for your concern but i have been using Azure devops for my project versioning control therefore i can't manage to push it on master branch therefore created another docker branch to push my code up there for your help.  Thanks!

[2019-08-18 17:25] ardalis opened #290 "Refactor CatalogContext to use EF Configuration Classes"
This class:
https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Infrastructure/Data/CatalogContext.cs

Could be about 80 lines shorter if the entity configuration were done in separate configuration classes.

[2019-08-20 01:47] #290 closed

[2019-08-21 00:40] JaredPhelps opened #292 "Error when running with docker and in-memory database"
Hello-
I cloned the repo from the master branch today and attempted to build and run it using the instructions in readme. I'm using a reasonably fresh install of Windows 10 Pro and VS 2019 Pro, with Docker Desktop for Windows. Here are the steps I took:
1.Cloned this repo from the master branch
2. Installed Docker Desktop for Windows
3. Built the solution
4. Ran `docker-compose build` which seems

[2019-08-21 01:23] efleming18 commented on #292
Hey @JaredPhelps - thanks for raising the issue. I was able to reproduce only in running from Docker. I will take a look tomorrow for sure.

[2019-08-21 14:43] Jaeha90 opened #293 "Question : Services and repositories"
Hi,

I just started a new project using repository pattern and I got a question about it.
I have an ItemPriceRepository, an ItemPriceService and an ItemPriceController.

In my ItemPriceController, I need to DI ItemPriceService and ItemPriceRepository, but I'm feeling bad to doing that. To avoid this problem, should I implement every fetching methods from the repository inside the service and using

[2019-08-21 14:52] ardalis commented on #293
There's not necessarily a *right* answer to this question, but for me at least I consider it a "code smell" to have both services and repositories being injected into a class (typically a controller). When I see that, I'll generally pull the repository functionality into the service, as you're describing. But if it's not causing you any pain and would just be more work to do that, don't worry abou

[2019-08-21 15:29] Jaeha90 commented on #293
Thank you Ardalis, that's help me a lot :) I'm trying to do a project as clean as possible to be like a "reference project" for the future. Considering that, I will pull repository functionnality in my service, but I will keep in mind that's not a mandatory thing if it's not causing me any pain.

Thanks again for this quick answer.

[2019-08-21 15:29] #293 closed

[2019-08-23 01:48] efleming18 commented on #292
@JaredPhelps Just an update for you, I've identified what the issue is, I'm just working on the proper fix for it. I hope to have something in, in the next couple days. I'll explain more after I come up with the best solution but basically the the `OwnsOne` method on the `OrderConfiguration` _should_ be treating `Address` like a value object, but it is trying to treat it as an entity.

Explicitly

[2019-08-23 03:23] ardalis commented on #292
Could be a difference in dotnet SDK versions inside and outside the container.

[2019-08-25 01:57] efleming18 commented on #292
@JaredPhelps I rolled back one piece that seemed to be causing the issue for now. If you get latest on `master` the container should start up no problem.

[2019-08-25 01:57] #292 closed

[2019-08-25 01:58] #286 closed

[2019-08-25 01:59] #284 closed

[2019-08-28 23:05] efleming18 commented on #285
Hey @Urgen-Dorjee could you provide the link to your docker branch?

[2019-08-29 00:35] #289 closed

[2019-08-30 07:37] saschagottfried commented on #209
I recently finished learning path "[Build applications with Azure DevOps](https://docs.microsoft.com/en-us/learn/paths/build-applications-with-azure-devops/)" provided by Microsoft Learn. I would start to apply the first two modules to this project.

- Collaborate with others to build your applications using Azure Pipelines and GitHub
- Run automated tests in your pipeline to validate code quality

[2019-08-30 09:06] Urgen-Dorjee commented on #285
I already pushed the code on new branch name docker almost 13 days ago and I saw that a pull request, but somehow someone from your group might have downloaded and deleted the branch. Anyway I will figure it out...

Thanks!!

[2019-08-30 19:12] ardalis commented on #285
This repo doesn't have any of the projects your dockerfile is referring to:
[code]

We'd love to help but we don't think this is actually using code from this repo. Can you confirm? Send a screenshot? Thanks!

[2019-08-31 08:18] Urgen-Dorjee commented on #285
@ardalis Thanks and Appreciated your reply and willing to help. Basically i have resolved the issue (may be kind of) but I still think there are room for improvement and I would wish if you look into the following lines of code and help me to understand : -

I know in order run the app, we must have database in ready state however in containerized environment it takes sometimes to fire-up the data

[2019-08-31 13:22] ardalis commented on #285
I’ve run into this myself and solved it with a wait command someone wrote. I’m using it in my dockerfile here:
https://github.com/ardalis/Specification/blob/ardalis/integrationtests/Dockerfile

Grab that branch and run
docker-compose up

To see how it works. Let me know if that will work for you.

[2019-09-04 09:14] eluchsinger commented on #111
@KhalilMohammad I am not sure what anti-pattern you're talking about. I see at least two issues here.

The point of removing the `await` keyboard was to avoid an unnecessary context switch inside the method* (1st issue). But as @ardalis  said, EF does not support two parallel operations so it is appropriate to utilize an `await` inside the method (2nd issue).

##### * More explanation

What happen

[2019-09-04 14:40] Urgen-Dorjee commented on #285
Sorry for late replying to the thread trails, I have been working on different projects lately and hardly get time to spend on it however I would really appreciate your help and will definitely look into this option in future but as of now you can close this thread and if required I will keep on update you.

[2019-09-05 23:55] efleming18 commented on #285
Sounds good @Urgen-Dorjee ! I will close the issue for now, but definitely reply back with how it went! If you have any more issues, feel free to open another issue though.

[2019-09-05 23:55] #285 closed

[2019-09-07 03:49] oyhan commented on #228
Hi.Excuse me but its funny that no body on net nor none of Clean Architecture samples implemented this concept. All samples just expressed that you must avoid the reference to Infrastructure layer and the whole did the opposite .

[2019-09-07 18:58] ardalis commented on #228
It’s certainly not that you must not, but you shouldn’t outside of Startup (or wherever you wore up the application’s services). Using project references is just the de facto standard so we keep it mainly for that reason.

[2019-09-09 10:18] kalyanmondal opened #297 "DB Migration Problem"
After following below steps as stated under "Running the Sample"

Configuring the sample to use SQL Server
Update Startup.cs's ConfigureDevelopmentServices method as follows:
        public void ConfigureDevelopmentServices(IServiceCollection services)
        {
            // use in-memory database
            //ConfigureTestingServices(services);

            // use real database
            Con

[2019-09-10 11:57] DavidJohnWilliams commented on #209
Hi, if you need help with creating the pipeline I would like to volunteer.

[2019-09-10 17:23] efleming18 commented on #297
Hey @kalyanmondal - I will get a response out to you this afternoon/evening after taking a look.

[2019-09-11 01:15] efleming18 commented on #297
Hey @kalyanmondal - I was able to reproduce the issue. It looks like after some modeling updates, I forgot to run / add another migration. I've added it in PR https://github.com/dotnet-architecture/eShopOnWeb/pull/298 which seems to fix everything. I'll have @ardalis review it and see if we can get it merged soon for you. Thanks for raising the issue!

[2019-09-11 08:20] kalyanmondal commented on #297
Hello @efleming18 I pulled the branch and run locally. It is working fine.
Thank you for your help.

[2019-09-11 11:44] fiseni opened #299 "Question: Exception handling."
Hi,
I wanted to discuss the exception handling matter. What do you consider the best approach in this subject? I just took a brief look on the project, and couldn't find any sample of exception handling, except the Error page, am I correct? Domain model throws many exceptions (though GuardClauses), and it seems they will propagate unhandled. Such omissions shouldn't reach the domain model at all,

[2019-09-11 13:50] efleming18 commented on #297
Great to hear @kalyanmondal! The PR has been merged in to master now as well.

[2019-09-11 13:50] #297 closed

[2019-09-11 16:49] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64717618-9e708a00-d492-11e9-84b4-da3adf6ca558.png)

[2019-09-11 16:55] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64718022-64ec4e80-d493-11e9-94af-803917c54439.png)

[2019-09-11 23:18] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64719600-93b7f400-d496-11e9-8819-00ccbb2634ee.png)

[2019-09-11 23:18] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64742067-ef9b7080-d4c8-11e9-8efe-20110297712f.png)

[2019-09-11 23:22] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64742210-69cbf500-d4c9-11e9-8d47-f944e57860b7.png)

[2019-09-11 23:51] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64743362-9124c100-d4cd-11e9-9da0-fdb47997005e.png)

[2019-09-11 23:56] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64743520-4788a600-d4ce-11e9-9b7c-e345b31fd765.png)

[2019-09-12 07:34] expressiveco opened #303 "Business logic"
Would not it be better to handle following as business logic in a single method of a domain model; in a service or a separate domain model class?
Because users of those services might be confused which methods to use and in which order they should call.
https://github.com/dotnet-architecture/eShopOnWeb/blob/99c416142fcdf130842d8b24a50943765ad7fd8b/src/Web/Pages/Basket/Checkout.cshtml.cs#L43-L54

[2019-09-13 12:33] fiseni commented on #299
Thank you @efleming18
I thought if there is more universal infrastructure which includes mvc and api controllers. Your explanation covers many aspects, and its more clear now. Thanks.
Im closing the issue.

[2019-09-13 12:33] #299 closed

[2019-09-13 18:55] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64887391-7c177180-d636-11e9-9cd2-1ac6dc2d0c3d.png)

[2019-09-13 18:56] ardalis commented on #33
![image](https://user-images.githubusercontent.com/782127/64887469-aec16a00-d636-11e9-8c63-844f1107ce00.png)

[2019-09-19 01:25] efleming18 commented on #303
Any further questions here before I close this @expressiveco?

[2019-09-19 06:38] bilisimofis commented on #303
no thank you

[2019-09-19 06:39] expressiveco commented on #303
thank you

[2019-09-19 06:39] #303 closed

[2019-09-20 22:38] dylinmaust opened #304 "IIdentityParser implementation?"
It seems that this interface is missing an implementation. Is that intentional?

[2019-09-21 00:42] #304 closed

[2019-09-21 00:43] efleming18 commented on #304
Hey @dylinmaust  - good call out! It does not appear that has been used in some time so I went ahead and cleaned it up.

[2019-09-21 13:28] dylinmaust commented on #304
Thanks @efleming18 - In that case, I think the ApplicationCore nuget dependency on System.Security.Claims could be removed as well.

[2019-09-24 09:38] fingers10 opened #306 "Ajax Exception handling."
Hello Team,

Thanks for this wonderful project. I have a question regarding Exception handling. #299 explains exception handling. But what about AJAX scenarios? Let's say I make a ajax request to perform a operation. and the domain entity throws an error. How will this be handled and notified to the user? Please assist

Thanks,
Abdul

[2019-09-24 09:40] fingers10 opened #307 "Admin Page Sample to add Items, brands, etc."
Hello Team,

Can you please add a admin page sample to add items, brands, etc? Because these mostly involves CRUD and I want to learn how to do CRUD in DDD approach.

Thanks,
Abdul

[2019-09-24 09:42] fingers10 opened #308 "Notifications sample"
Hello Team,

Please can you add some example to show notifications? In current project, lets say an order is placed. How to notify end user? In Ajax scenarios, a toast like approach? Like how gmail toast like notification at bottom right when an email is sent..

Thanks,
Abdul

[2019-09-24 09:45] fingers10 opened #309 "Where to add Business rules/Validations"
Hello Team,

The current project sample doesn't have any examples showing how to add business rules/validations and notify user. Please can you assist on where these needs to be added in DDD approach?

Thanks,
Abdul

[2019-09-25 01:10] efleming18 commented on #306
Hey @fingers10 - thanks for the question! Are you talking about something like an invalid input to a text box and how that is returned to the user?

For example, someone trying to log in to the site and not entering an email or a password before clicking "Login"? In this scenario, we would return errors to them on the frontend like so:
![image](https://user-images.githubusercontent.com/1899987/655

[2019-09-25 01:29] efleming18 commented on #309
Hey @fingers10 - with how small this project is, it is a little difficult to fit many examples of business rules/validations in to it. I think you could consider something like the [OrderService](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/ApplicationCore/Services/OrderService.cs) and the [BasketService ](https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Appli

[2019-09-25 01:35] efleming18 commented on #308
Hey @fingers10 - I could see something like sending a confirmation email that the order has been received being in scope for the project over a toast notification. I had stubbed out sending an account activation confirmation email via SendGrid and SMTP in the past, but it was only a branch. We could potentially revisit that.

@ardalis thoughts? In scope for this sample?

[2019-09-25 01:36] efleming18 commented on #307
Hey @fingers10 - this would be an interesting addition!

@ardalis - what are your thoughts on this to be added to the sample?

[2019-09-25 06:56] fingers10 commented on #306
@efleming18 These are all input validations which we can achieve through annotations. What about exceptions? If we are making an normal form post and some exception happens, the below code with catch that in production and will display error page.

[code]

But what about AJAX post? Instead of making an form post, I'm making an AJAX post and same exception happens. Now how to display "Internal Serv

[2019-09-25 07:05] fingers10 commented on #308
@efleming18 Thanks for the quick response. Notifying User via email is fine. How to notify via UI without page redirect. Lets forget the order example and imagine we are in a AJAX based page. All operations are ajax based.

I'm doing a Ajax post to the server and everything goes well. Now email will be triggered from server and how the end user will be notified in screen?

Or this would be a perfe

[2019-09-25 07:11] fingers10 commented on #309
@efleming18 Again thanks for your time and response.

For example for some reason after doing some business check the user is not allowed to place an order under specific scenarios and when he places an order how to display the message that the "user cannot place a order"? At least some thing like before placing an order, we can do some check like _orderService.CanPlaceOrder() ? and if this is tru

[2019-09-25 13:34] ardalis commented on #307
I think it would be a great addition.

[2019-09-26 06:38] escalonn opened #311 "Why is .ConfigureAwait(false) not used?"
Throughout the app's libraries, especially in the AppCore Services, we have `await`s that have no need to resume in the same context afterwards. In such a case is it not best practice to append `.ConfigureAwait(false)`?

As e.g. https://blog.stephencleary.com/2017/03/aspnetcore-synchronization-context.html
"You Don’t Need ConfigureAwait(false) [in ASP.NET Core projects], But Still Use It in Librar

[2019-09-26 07:59] fingers10 commented on #307
That sounds great. Any plans on this?

[2019-09-27 01:26] fingers10 commented on #308
@efleming18 Or even you can consider these scenarios. In a Ajax call user does a post and after processing business rules, the server notifies the user with a yes or no choice. Based on the yes or no action from the user the server needs to proceed accordingly.

Thanks,
Abdul

[2019-09-27 01:32] efleming18 commented on #307
@fingers10 We'll likely be working on the upgrade to .NET Core 3.0 starting very soon, so I'd imagine we'll wait and add this functionality right after so we don't conflict in the middle of the upgrade. I'll be sure to keep you in the loop on progress!

[2019-09-27 01:43] efleming18 commented on #308
Hey @fingers10 - I see what you're asking now. Let me work on an example in a separate branch for you in the next couple days? I think the addition you recommended here https://github.com/dotnet-architecture/eShopOnWeb/issues/307 will actually provide some insight in to many of the questions you are asking. The full implementation of that is probably a few weeks out as we're going to try and get t

[2019-09-27 01:44] efleming18 commented on #306
In the example [I mention creating in the next few days](https://github.com/dotnet-architecture/eShopOnWeb/issues/308), this should be covered as well.

[2019-09-27 01:52] efleming18 commented on #311
Hey @escalonn - correct. In .NET Core apps there's no need to use `.ConfigureAwait(false)`. In the blog post you linked they are talking about reusing the library in a project that may not be running on .NET Core yet. As this entire project is upgraded to .NET Core there's no need for us to use `ConfigureAwait`, but if we had a legacy .NET application that also depended on some of the library proj

[2019-09-27 03:36] fingers10 commented on #308
@efleming18 Thanks for the support and I'm excited and curious to see the changes along with .NET Core 3.0 update.

[2019-09-27 19:27] #311 closed

[2019-10-02 00:45] efleming18 commented on #309
Hey @fingers10 sorry for the delay! Please take a look at this PR I have out there: https://github.com/dotnet-architecture/eShopOnWeb/pull/312

I tried to explain what I was doing and why in each commit, to show a progression of how I got to where it ended up. If you have any further questions though, let's open up another issue to discuss? I recommend a new issue as I think the other issues are a

[2019-10-02 00:45] #309 closed

[2019-10-02 00:45] efleming18 commented on #308
Hey @fingers10 sorry for the delay! Please take a look at this PR I have out there: https://github.com/dotnet-architecture/eShopOnWeb/pull/312

I tried to explain what I was doing and why in each commit, to show a progression of how I got to where it ended up. If you have any further questions though, let's open up another issue to discuss? I recommend a new issue as I think the other issues are a

[2019-10-02 00:45] #308 closed

[2019-10-02 00:45] efleming18 commented on #306
Hey @fingers10 sorry for the delay! Please take a look at this PR I have out there: https://github.com/dotnet-architecture/eShopOnWeb/pull/312

I tried to explain what I was doing and why in each commit, to show a progression of how I got to where it ended up. If you have any further questions though, let's open up another issue to discuss? I recommend a new issue as I think the other issues are a

[2019-10-02 00:45] #306 closed

[2019-10-03 08:03] artrs-prog opened #313 "Moving to .NET Core 3"
Since the latest stable version is 3.0, are there any plans to migrate to it?

[2019-10-03 10:51] ardalis commented on #313
Yes, soon.

[2019-10-06 08:06] vlyakh commented on #313
Hey guys
Any chance we can get it done in a week?

[2019-10-07 21:27] ardalis commented on #313
Likely not but check out https://github.com/ardalis/cleanarchitecture which is upgraded already and can be used as a starting point for new solutions.

[2019-10-10 22:30] jahbenjah commented on #234
I'm working on this issue but have problems on how to manage  `.ForSqlServerUseSequenceHiLo("")` in SQLite . Using this SQL Server's specific stuff violates the [Persistence ignorance](https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-azure/architectural-principles#persistence-ignorance) principal.

[2019-10-16 13:36] newtonsheikh opened #316 "Empty interface -- IAggregateRoot"
i was going though  the code and found there is an empty interface 'IAggregateRoot'.   This was so new to me and started digging more about it.

Found that empty interfaces are generally used as markers.

Until i came across [CA1040: Avoid empty interfaces](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1040-avoid-empty-interfaces?view=vs-2019)

i am now totally confused.

[2019-10-17 12:03] schreys opened #317 "General EfRepository with a specific DbContext"
Would it be possible to make EfRepository more a generic EF repository? It now depends on a specific dbcontext, if I would have 2 specific DbContexts in my solution, I would need to implement this twice?

[2019-10-17 20:18] sayedihashimi opened #318 "Update wiki"
I tried updating the wiki but didn't have access.

Can you update the wiki `Home.md` to have the following content:

cc @ardalis

[code]

[2019-10-17 20:55] efleming18 commented on #318
Updated @sayedihashimi - thank you!

[2019-10-17 20:55] #318 closed

[2019-10-17 21:12] sayedihashimi commented on #318
Thanks

[2019-10-18 17:55] sayedihashimi opened #319 "Remove DRAFT from wiki"
For the page at https://github.com/dotnet-architecture/eShopOnWeb/wiki/Getting-Started-for-Beginners-with-Visual-Studio-for-Mac we should remove the DRAFT heading

[2019-10-18 21:33] ardalis commented on #319
Done

[2019-10-18 21:33] #319 closed

[2019-10-19 01:27] ardalis commented on #317
You could modify it to require an EF Core DbContext, and then specify which EfRepository got which DbContext. You could probably also make it work by defining it like
[code]
I haven't tried it but I suspect something like this would work fine.

[2019-10-19 16:23] sayedihashimi commented on #319
Thanks

[2019-10-19 16:55] fingers10 commented on #317
doing so throws compile time error at `_dbContext.Set<T>().Add(entity);`

saying,

[2019-10-19 17:37] fiseni commented on #317
I think ardalis just gave a general idea of how it can be done. If you want to implement to the existing code, you would need something as following. First, you have to define what TDbContext generic parameters means, so the "Set" method could be recognized.
Just keep in mind that entities of each context should inherit the BaseEntity and implement IAggregateRoot (or just modify it to your needs).

[2019-10-19 20:52] schreys commented on #317
I've tried to use the EfRepository<T, TDbContext>, but then the dependency injection fails on this line at runtime:

`services.AddScoped(typeof(IAsyncRepository<>), typeof(EfRepository<,>));`

So I will probably need to add generics toIAsyncRepository to allow an EFRepository but I will need to make an interface for it, meaning I need to interface all methods of EFRepository, which I don't want.

[2019-10-19 23:53] fiseni commented on #317
No, you don't need another generic parameter in the interface, since the interface won't utilize that type. The dbcontext is internal concern of the implementation only. Probably you will need something as following.
[code]
I doubt that this syntax will work. But anyway you will have to define the second parameter somewhere. Otherwise, if you have several contexts, how the the IoC container will k

[2019-10-20 18:34] schreys commented on #317
Yes idd, so I guess I will need to
or.. use generics and use an interface for the methods of DBContext, which I would like to avoid,
or.. use general DBContext in EFDBContext class, but then I don't have access to the DBSets of the implementation of DBContext of course. I could just return the DBSet using _dbContext.Set<T>() of course.

[2019-10-21 15:34] sayedihashimi opened #321 "Minor update to vsmac linux container wiki page"
For the wiki page at https://github.com/dotnet-architecture/eShopOnWeb/wiki/03b.-Running-Locally-on-a-Linux-Container-from-Visual-Studio-for-Mac

We should change "Press F5 to run the project or select Debug > Start Debugging from the menu." to "Run the project with `Run`>`Start Debugging` from the menu.

cc @ardalis

[2019-10-21 18:53] efleming18 commented on #321
Updated @sayedihashimi - thanks!

[2019-10-21 18:53] #321 closed

[2019-10-21 19:05] sayedihashimi commented on #321
Thanks

[2019-10-24 17:26] #316 closed

[2019-10-31 16:35] stevenvolckaert commented on #313
Any update on this? Can we expect the update soon?

[2019-10-31 19:11] ardalis commented on #313
Relatively: https://github.com/dotnet-architecture/eShopOnWeb/pull/323

[2019-11-06 15:53] efleming18 commented on #317
@schreys anything else you need here on this one?

[2019-11-07 11:01] schreys commented on #317
@efleming18 no it's ok for me.

[2019-11-07 11:01] #317 closed

[2019-11-07 16:27] efleming18 commented on #313
Hey @artrs-prog @stevenvolckaert @vlyakh  - the master branch has been updated to .NET Core 3.0.
Take a look and if you have any questions, please feel free to open up new issues for us to discuss.

[2019-11-07 16:27] #313 closed

[2019-11-07 16:32] vlyakh commented on #313
Thanks @efleming18

[2019-11-10 09:41] stevenvolckaert commented on #313
Thank you @efleming18!

[2019-11-12 00:55] fingers10 opened #328 "How to do CRUD on Application User?"
Hello Team,

Can you please assist on a sample to do CRUD on `ApplicationUser`? Let's say an admin to create/update user details? I'm stuck on how to implement this as we have `ApplicationUser` in Infrastructure project with `AppIdentityDbContext` . So all the services, interfaces and specifications needs to be written in Infrastructure project? or `ApplicationUser` needs to be moved to `Applicati

[2019-11-12 20:25] efleming18 commented on #328
Hey @fingers10 - I started working on something similar for you (updating existing catalog items via an admin screen), but it still needs a review and possibly some additions/adjustments. Right now, it just allows you to update a few fields for a catalog item. The PR is here: https://github.com/dotnet-architecture/eShopOnWeb/pull/324

For updating user details, have you looked at the "My Account"

[2019-11-13 05:42] fingers10 commented on #328
@efleming18 . Thanks for your response.

**My Account** is for an user to update his details. I need something like a admin user to create a end user or activate/deactivate end user so that end user login can be controlled. Any suggestions for this?

[2019-11-15 18:45] fingers10 commented on #328
@efleming18 any suggestions/helps for this?

[2019-11-15 23:45] fiseni opened #329 "Security Issue: flood DB with basket records."
If an anonymous user adds item to basket, cookie is created with newly generated Guid, and basket record is created on DB. If the cookie is deleted by the user, and the action is repeated, new record on DB will be created.
This might be a security issue, since malicious script can be written to flood the DB in no time.

I understand that this is just an example project, and I don't know if you wan

[2019-11-18 00:42] fingers10 commented on #328
@efleming18 any suggestions on where to place the code for my case? To write services on application user it needs to be placed inside `Infrastructure` project? Or any better way to do this with DDD approach?

[2019-11-18 01:37] efleming18 commented on #328
Hey @fingers10 - I would consider that part of the `Infrastructure` project. The `Infrastructure` project already contains the `AppIdentityDbContext`, `ApplicationUser`, etc.

I could potentially see you wanting to create a separate project for user management if the project as a whole was large enough and this logic needed to be reused in multiple places, but that scenario seems more rare.

[2019-11-18 19:58] efleming18 commented on #329
Hi @fiseni - thanks for bringing this up. I will take a look in to it and report back to you.

[2019-11-19 14:10] efleming18 commented on #328
Hey @fingers10 - I was thinking on this a little bit more. To build out something like what you're talking about you're most likely going to be leveraging the existing [UserManager](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.usermanager-1?view=aspnetcore-3.0) and [RoleManager](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.rolemanager-1?vie

[2019-11-19 20:05] efleming18 commented on #329
Hey @fiseni - I don't think this warrants being included in the sample but it's a good question so I wanted to share some thoughts on how to prevent it should you want to.

One way to do it would be Rate Limiting. You could use something like [this](https://github.com/stefanprodan/AspNetCoreRateLimit) and rate limit requests by IP, client ID, etc and also limit specific API endpoints, verbs, etc.

[2019-11-20 10:43] fiseni commented on #329
Hi @efleming18 - Oh it's ok, I understand the scope of the project. I just wanted to bring up this issue, to make the audience aware of the possible scenarios in the real world implementations.

You gave some great tips. But, all of that seem as a workaround to the real problem. In my opinion the real issue is that we're allowing guest users to make persistent changes to our application/infrastruc

[2019-11-20 14:34] efleming18 commented on #329
I definitely agree that a big issue is the persistent changes, but in some cases the persistent changes, may provide strong value to the business to run analytics on. They may want to see how many anonymous carts are being abandoned, what/how many items are in the cart when they are abandoned, etc. If the company would have these analytics in place ahead of time, they would most certainly be able

[2019-11-20 14:50] fiseni commented on #329
All the topics u brought up in the post, are completely legitime and meaningful. I agree with all that.
As you implied, prevention might be done through active monitoring too.
Thanks.

[2019-11-20 14:51] efleming18 commented on #329
Thanks for the great discussion @fiseni ! :)

[2019-11-20 14:51] #329 closed

[2019-11-22 19:06] efleming18 commented on #328
@fingers10 does that help? Do you need anything else on this issue?

[2019-11-22 19:37] fingers10 commented on #328
@efleming18 Sorry for the delayed response. Thanks for your opinions. That was a great help from your end. I'll work on these. I'm good with these now. This can be closed. I'll reopen if I need any further clarifications.

[2019-11-22 19:48] efleming18 commented on #328
Perfect! Sounds good.

[2019-11-22 19:48] #328 closed

[2019-11-30 16:18] justSteve opened #330 "Integration test (LogsInSampleUser) tosses an exception but reports test as succeeded"
I'm debugging/stepping thru LogsInSampleUser and seeing an exception tossed before the ASSERT statement is hit - yet the test is reported to be green.

Am new to unit tests (for shame) and curious how that can happen.
The error is at

Is the problem specific to my local install or can it be reproduced by others?
[note 1 that i'm working against the core3 branch]
[note2 running the web app in brows

[2019-12-02 14:48] efleming18 commented on #330
Hey @justSteve - sorry for the delay. I will take a look at this today.

[2019-12-03 15:26] mrukas commented on #222
In case someone still wants to have this feature. I added a pull request that adds the possibility to chain includes with .Include() and .ThenInclude().
[https://github.com/dotnet-architecture/eShopOnWeb/pull/331/commits/c3193b10cdff0bf5b1c41ac4a14e75b6ee1fb786](https://github.com/dotnet-architecture/eShopOnWeb/pull/331/commits/c3193b10cdff0bf5b1c41ac4a14e75b6ee1fb786)

[2019-12-03 15:27] mrukas commented on #40
In case someone still wants to have this feature. I added a pull request that adds the possibility to chain includes with .Include() and .ThenInclude().
[https://github.com/dotnet-architecture/eShopOnWeb/pull/331/commits/c3193b10cdff0bf5b1c41ac4a14e75b6ee1fb786](https://github.com/dotnet-architecture/eShopOnWeb/pull/331/commits/c3193b10cdff0bf5b1c41ac4a14e75b6ee1fb786)